<div class="container mt-5">
    <h2>Celebrities List</h2>
    <hr>
    <table class="table">

        <tbody>


            {{#each celebrity}}
            <tr>

                <td>
                    Name: {{name}}
                </td>
                <td>
                    Occupation: {{occupation}}
                </td>
                <td>
                    Catchphrase: {{catchPhrase}}
                </td>
                <td>
                    <form action="/celebrities/{{_id}}/edit" method="GET">
                        <input type="submit" value="edit" class="btn btn-warning btn-sm">
                    </form>
                </td>
                <td>
                    <form action="/celebrities/{{_id}}/delete" method="POST">
                        <input type="submit" value="delete" class="btn btn-danger btn-sm">
                    </form>
                </td>


            </tr>
            {{/each}}

        </tbody>
    </table>
</div>