<div class='celebrity-container'>
  <div>
    <a href='/celebrities'>
      Go back
    </a>
  </div>
  <h2>
    Name:
    <span style='font-weight: normal;'>
      {{name}}
    </span>
  </h2>
  <h4>
    Occupation:
    <span style='font-weight: normal;'>
      {{occupation}}
    </span>
  </h4>
  <h4>
    Catch phrase:
    <span style='font-weight: normal;'>
      {{catchPhrase}}
    </span>
  </h4>
  <button>
    <a href="/celebrities/{{_id}}/edit">
      Edit Celebrity
    </a>
  </button>
  <button>
    <a href="/celebrities/{{_id}}/delete">
      Delete Celebrity
    </a>
  </button>
</div>