<h2>Celebrity detail</h2>

<div class="celeb-detail-container">
    <img src="{{url}}" alt="{{name}}">
    <div class="celeb-detail-sidetext">
        <p><span>Name:</span> {{name}}</p>
        <p><span>Occupation:</span> {{occupation}}</p>
        <p><span>Catchphrase:</span> {{catchPhrase}}</p>
    </div>
</div>