<h1>{{celebrity.name}} Details</h1>
<p>Name: {{celebrity.name}}</p>
<p>Occupation: {{celebrity.occupation}}</p>
<p>Catch Phrase: {{celebrity.catchPhrase}}</p>

<a href="/celebrities/{{celebrity._id}}/edit">Edit Celebrity</a>
<a href="/celebrities">Back to Celebrities List</a>