<div class="container">

    <h1>Lista delle Celebrities</h1>
    <hr>

    {{#each celebrities}}
    <p>- <strong> {{name}} </strong> <a class="btn btn-outline-light btn-sm" href="/movie/edit?movie_id={{id}}"> ✏</a><br>
        <small>
            {{occupation}} |
            <i> {{catchPhrase}}</i><br>
      Celebrity IdRef:({{_id}}) </small>
        <hr>
    </p>
    {{/each}}

</div>