<h2>Celebrities</h2>

<div>
    {{#each celebrityArr}}
    <p>Name: {{name}}</p>

    {{!-- <p>Occupation: {{occupation}}</p>

    <p>Catch Phrase: {{catchPhrase}}</p> --}}

    {{!-- <a class="btn btn-secondary" href="/drones/{{_id}}/edit" role="button">Edit Celebrity</a>
    <form action="/drones/{{_id}}/delete" method="POST">
        <input type="submit" value="Eliminar dron" class="btn btn-danger">
    </form> --}}
    <hr>
    {{/each}}

</div>

<a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>