<h2>Celebrity details</h2>
<a href="/">Home</a>


    <ul>
       
            <li>Name:   {{celebrity.name}}</li>
            <li>Occupation:   {{celebrity.occupation}}</li>
            <li>Catchphrase:  {{celebrity.catchPhrase}}</li>
            <br><br>
    
    </ul>

<a href="/celebrities/{{celebrity._id}}/edit">Edit</a><br><br>

<form action="/delete/{{celebrity._id}}" method="POST">
    <button>Delete</button>
</form><br><br>
