<h2>Celebrities</h2>
<ol>{{#each celebrityList}}
    <li>Name:
      {{name}}
      {{!-- , Occupation:
      {{occupation}}, Catch Phrase:
      {{catchPhrase}}
      <a href="/drones/{{_id}}/edit">Edit drone</a>
      <form action="/drones/{{_id}}/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete drone</button>
      </form> --}}
    </li>
  {{/each}}
</ol>