<h1>Name: {{name}}</h1>
<h3>Occupation: {{occupation}}</h3>
<p>Catch Phrase: {{catchPhrase}}</p>

{{!-- <p>Rating: {{rating}}</p>
<a href="/books/{{_id}}/edit">Edit book</a>
<hr />
<p>Add a review</p>
<form action="/reviews/{{id}}/add" method="POST">
  <label>Username</label>
  <input type="text" name="username" />

  <label>Comment</label>
  <textarea name="comment"></textarea>

  <button type="submit">Add review</button>
</form>
<hr />
{{#each reviews}}
  <p>{{comment}} --- {{username}}</p>
{{/each}} --}}