<h2> All celebrities</h2>

<ul>
{{#each celebrities}}
<br>
<li> <h6>Who?</h6>{{name}}</li>
<br>
<li> <h6>What he/she does?</h6>{{occupation}}</li>
<br>
<li> <h6>Any catchy phrase?</h6>{{catchPhrase}}</li>
<br>

<h6>Movie played: </h6> 
 {{#each moviePlayed}}
     <p> {{this.title}}</p>
    {{/each}}
<br>
{{!-- <a href="/update/{{id}}">Update usuario</a> --}}
<a href="/celebrities/delete/{{id}}">Delete</a>
<br>

<p>----------------------------------------------------------------</p>
{{/each}}
</ul>
<br>


<a href="/">Home</a>

