<div class="container-fluid">
    <div class="container">
    <div class="text-white text-center bg-secondary rounded-4 w-50 p-3 m-5">
        <h1>Name: {{celebrityData.name}}</h1>
        <h2>Occupation: {{celebrityData.occupation}}</h2>
        <h3>Catch Phrase: {{celebrityData.catchPhrase}}</h3>
            <form action="edit/{{celebrityData._id}}" method="get">
        <button class="btn btn-success px-5 py-3 m-2" type="submit">Edit</button>
    </form>
    <form action="delete/{{celebrityData._id}}" method="post">
        <button class="btn btn-danger px-5 py-3 m-2" type="submit">Delete</button>
    </form>
    </div>
    </div>
</div>