<h2> Detalles de la celebrity </h2>

<h3>{{name}}</h3>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>

<form action="/celebrities/{{id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>

<a href="/celebrities/{{id}}/edit">Editar</a>