<h2>Celebrity: {{name}}</h2>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities/{{_id}}/edit">Edit celebrity</a>

<form action="/celebrities/{{_id}}/delete" method="post">
<button>Delete</button>
</form>