<div class='main__container-celebs'>
  <div class='main__container--celebs-header'>
    <h1>LIST OF CELEBRITIES</h1>
    <h2><a href='/celebrities/create'>Add New</a></h2>
  </div>
  <div class='main__container--celebs-list'>
    {{#each celebs}}
      <div class='main__container--celebs--list-item'>
        <div>
          {{this.name}}
        </div>
        <div>
          {{this.occupation}}
        </div>
        <div>
          {{this.catchPhrase}}
        </div>
        <div>
          <div>
            <a href='/celebrities/{{this._id}}'>Details</a>
          </div>
          <div>
            <a href='/celebrities/create/{{this._id}}'>Edit</a>
          </div>
          <div>
            <a href='/celebrities/delete/{{this._id}}'>Delete</a>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>