<h2>CELEBRITIES</h2>

{{#each celebArr}}
<div class="mov">
<h5>{{this.name}}</h5>
<p>Occupation: {{this.occupation}}</p>
<p>Catch Phrase: {{this.catchPhrase}}</p>

<form action="/celebrities/{{_id}}/delete" method="post"> 
<a class="btn" href="/celebrities/{{_id}}/edit">Edit</a>
<button class="btn" type="submit">Delete</button>
</form>
</div>
{{/each}}



