<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-4">
            <img src="{{imageURL}}" alt="{{name}}">
        </div>

        <div class="col-md-6">

            <h2>{{name}}</h2>

            <hr>

            <p><strong>Genre: </strong>{{occupation}}</p>

            <p><strong>Catch Phrase: </strong>{{catchPhrase}}</p>

        </div>

        <div class="my-5">
            <a href="/" class="btn btn-dark">Back home</a>
            <a href="/celebrities/create" class="btn  btn-secondary btn-danger">CREATE A NEW CELEBRITY</a>
        </div>

    </div>

</div>