<div class="formsAndDetails">

	<h2>Celebrity Details</h2>

	<h4><u>Name:</u></h4>
	<p>{{celebDetails.name}}</p>

	<h4><u>Occupation:</u></h4>
	<p>{{celebDetails.occupation}}</p>

	<h4><u>Catch Phrase:</u></h4>
	<p>{{celebDetails.catchPhrase}}</p>

	<form action='/celebrities/{{celebDetails._id}}/delete' method='POST'>
		<button type='submit'>Delete Celebrity</button>
	</form>

	<button><a href='/celebrities/{{celebDetails._id}}/edit'>Edit Celebrity</a></button>

</div>