{{#with celebrity}}
  <h1 class='display-5 m-3'>{{name}}</h1>
  <hr />

  <div class='d-flex'>
    <div class='card m-3'>
      <div class='card-body'>
        <h3 class='card-title'>{{occupation}}</h3>
        <h5 class='card-text'><i>{{catchphrase}}</i></h5>
        <hr />

        <div class='d-flex'>
          <form action='/celebrities/{{id}}/edit' method='get'>
            <input class='btn btn-outline-dark mt-3 me-3' type='submit' value='edit' />
          </form>
          <form action='/celebrities/{{id}}/delete' method='post'>
            <input class='btn btn-outline-dark mt-3 me-3' type='submit' value='delete' />
          </form>
        </div>
      </div>
    </div>

  </div>
{{/with}}