<h1 class="movies-title">Celebrity:</h1>

<div class="movie-detail-card">
  <div>
    <h1 class="detail-title">Name </h1>
    <p class="celebrity-text">{{celebrityData.name}}</p>
    <h2 class="detail-title">Occupation:</h2>
    <p class="celebrity-text"> {{celebrityData.occupation}}</p>
  </div>

  <div>
    <h3 class="detail-title">Catch Phrase:</h3>
    <p class="movies-plot">{{celebrityData.catchPhrase}}</p>
  </div>

</div>

<div class="edit-delete">
  <a class="card-link" href="/celebrities/edit/{{celebrityData._id}}">edit
    Celebrity</a>
  <div class="delete">
    <form action="/celebrities/{{celebrityData._id}}/delete" method="post">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</div>