<h2>{{name}}</h2>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<hr>
<form action="/celebrities/{{_id}}/delete" method="post">
<button type="submit">Delete</button>
</form>
<a href="/celebrities/{{_id}}/edit">Edit</a>