<h2>Celebrities list:</h2>

{{#each celebritiesFromDB}}
 <section class="celebrities-summary">
        <h2>{{this.title}}</h2>
        <p>
            Name: {{this.name}}<br />
            Occupation: {{this.occupation}} <br />
            CatchPhrase: {{this.catchPhrase}} <br />

            <a href="/celebrities/{{id}}">More details</a>
        </p>

    </section>
{{/each}}