<div class="d-flex flex-column align-items-center justify-content-center pb-2">
  <h1 class="text-center pt-2 fw-bolder">Celebrity</h1>
</div>
<div class="d-flex flex-row justify-content-center px-5">
  <div class="card px-2 border-0" style="width: 500px;">
    <img
      src="https://phantom-marca.unidadeditorial.es/956f281c3744e86b8482ffe7cae261b6/resize/828/f/webp/assets/multimedia/imagenes/2021/04/25/16193814047499.jpg"
      class="card-img-top img-fluid d-flex mx-auto"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><u><strong>Name: </strong></u>
        {{celebrity.name}}</h5>
      <h5 class="card-title"><u><strong>Occupation: </strong></u>
        {{celebrity.occupation}}</h5>
      <h5 class="card-title"><u><strong>CatchPhrase: </strong></u>
        {{celebrity.catchPhrase}}</h5>
      <div class="d-flex flex-column">
        <a
          href="/celebrities/{{celebrity.id}}/edit"
          class="btn btn-primary p-1 mt-1"
          role="button"
        >Edit</a>
        <a>
          <form
            action="/celebrities/{{celebrity.id}}/delete"
            method="POST"
            class="d-flex flex-column pt-1"
          >
            <button class="btn btn-danger pt-1">Delete</button>
          </form>
        </a>
      </div>
    </div>
  </div>
</div>