<h1 class="create-cel">CELEBRITIES LIST</h1>


{{#each celebrities as |celebrity|}}
    <div class="card text-bg-light mb-3" style="width: 18rem;">
      <div class="card-body">
       <h3>{{this.name}}</h1>
       <hr>
       <p class="p-1"> {{this.occupation}}</p>
       <p class="p-2">{{this.catchPhrase}}</p>
       <a class="edit" href="/celebrities/{{this.id}}/edit">Edit</a>
       </div>
       <form action="/celebrities/{{this.id}}/delete" method="POST">
        <button  class="delete" type="submit">Delete</button>
       </form>
    </div>
{{/each}}
<a href="/celebrities/create" class="form-btn">Create a new celebrity</a>


