<div class="d-flex justify-content-center mt-2">
    <h2 class="text-center">Celebrities</h2>
</div>

<div class="d-flex flex-row justify-content-around mt-4">
    {{#each allCelebrities}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/unknown.jpg" alt="Celebrity">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{name}}</h5>
            <p class="card-text font-weight-bold"> Occupation: {{occupation}}</p>
            <p class="card-text font-weight-bold"> Catch Phrase: <br> <span
                    class="text-danger font-italic">{{catchPhrase}}</span>
            </p>

            <div class="d-flex justify-content-around">
                <div class="row">
                    <a href="/celebrities/{{id}}/edit" class="btn btn-warning">Edit</a>
                </div>
                <div class="row">
                    <form action="/celebrities/{{id}}/delete" method="post">
                        <button type="submit" class="btn btn-danger row">Delete</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-secondary px-4 text-white nav-link" href="/">Back</a>
</div>