<h3>{{name}}</h3>
<br><br>
<p>OCUPATION: {{ocupation}}</p>
<br>
<p>CATCHPHRASE: {{catchPhrase}}</p>

<hr>

<a href="/celebrities/{{_id}}/edit">EDIT</a>
<br>
<br>
<form action="/celebrities/{{_id}}/details" method="post">
    <button type="submit"> DELETE</button>
</form>
<br>

<hr>

<br>

<a href="/celebrities">back</a>
<br>
<a href="/">main page</a>
</p>