<h2>{{name}} details</h2>



<h4>Name: {{name}}</h4>
<br><br>
<h4>Occupation: {{occupation}}</h4>
<br><br>
<h4>catchPhrase: {{catchPhrase}}</h4>


<br><br>



<form action="/celebrities/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form>