<h2>Celebrities</h2>
{{#each celebrity}}
<<<<<<< HEAD
<div>
    <h3>{{name}}</h3>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
</div>
=======
  <div>
    <h3>{{name}}</h3>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
  </div>
>>>>>>> e7c62d983b383bac70f302b9f7650e2f29e56ea5
{{/each}}