<h2 class="mt-5">Details of the celebrity</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p>Name: {{name}}</p>
                    <p>Occupation: {{occupation}}</p>
                    <p>Catch phrase: {{catchPhrase}}</p>
                    <div class="row">
                        <div class="col-3">
                            <form action="/celebrities/{{id}}/delete" method="POST">
                                <input type="submit" value="Delete movie" class="btn btn-danger btn-sm">
                            </form>
                        </div>
                        <div class="col-3">
                            <a href="/celebrities/{{id}}/edit" class="btn btn-dark btn-sm">Edit celebrity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/celebrities" class="btn btn-dark btn-lg mt-4">Back</a>