<p>Celebrity {{name}}</p>
<p>Occupation {{occupation}}</p>
<p>Catch Phrase {{catchPhrase}}</p>


<form action='/celebrities/{{_id}}/edit' method='post'>
    <button>EDIT</button>
</form>
<br>
<form action='/celebrities/{{_id}}/delete' method='post'>
    <button>DELETE</button>
</form>