<div class="row d-flex justify-content-around align-items-baseline">
    <h2 class="mt-5">{{name}}</h2>
    <a class="btn btn-outline-dark mb-3" href="/celebrities">Go Back</a>
</div>

<div class="container justify-content-center">
    <div class="col-12">
        <hr>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="col-6">
        <p><strong>Name: </strong>{{name}}</p>
        <p><strong>Occupation: </strong>{{occupation}}</p>
        <p><strong>Catch Phrase: </strong>{{catchPhrase}}</p>
        <div class="row d-flex justify-content-center mt-5 mb-5">
            <a class="text-white btn btn-primary mr-5" href="/celebrities/{{_id}}/edit">
                Edit
            </a>
            <form action="/celebrities/{{_id}}/delete" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        
        </div>
    </div>
</div>