<h2 class="text-center">Update {{name}}!</h2>

<div class="container d-flex text-center justify-content-center mt-3">
    <form action="/celebrities/{{_id}}/edit" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="mb-3">
            <label for="ocupation" class="form-label">Ocupation</label>
            <input type="text" class="form-control" id="ocupation" name="ocupation" value="{{ocupation}}">
        </div>
        <div class="mb-3">
            <label for="catchPhrase" class="form-label">Catch phrase</label>
            <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" value="{{catchPhrase}}">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>