<h1>{{this.name}}</h1>
<br>

<h2>
    {{this.occupation}}
</h2>
<blockquote>
    {{this.catchPhrase}}
</blockquote>

<a href="/celebrities/{{this._id}}/edit">Edit this celeb</a>
<a href="/celebrities/{{this._id}}/delete">Delete this celeb</a>