<div class="movies-page">
  <h1 class="movies-title">Celebrities:</h1>

  <div class="movies-flex">
    {{#each allCelebrities}}
      <div class="card">
        <h2 class="card-title">{{name}}</h2>
        {{#if image}}
          <a href="/celebrities/{{_id}}">
            <img class="movies-image" src="{{image}}" alt={{title}} />
          </a>
        {{/if}}
        <a class="card-link" href="/celebrities/{{_id}}">See more</a>
      </div>
    {{/each}}
  </div>

</div>