<form
  class="input-container"
  action="/celebrities/edit/{{celebrityData.id}}"
  method="post"
>
  <h2 class="card-title">
    Edit the Celebrity
  </h2>

  <label>Name:</label>

  <input
    class="form-control w-25"
    id="name"
    name="name"
    type="text"
    value="{{celebrityData.name}}"
  />

  <label>Occupation:</label>

  <input
    class="form-control w-25"
    id="occupation"
    name="occupation"
    type="text"
    value="{{celebrityData.occupation}}"
  />

  <label>Catch Phrase:</label>

  <input
    class="form-control w-25"
    id="catchPhrase"
    name="catchPhrase"
    type="text"
    value="{{celebrityData.catchPhrase}}"
  />

  <label>Image:
    <input type="text" name="image" value="{{celebrityData.image}}" />
  </label>

  <div>
    <button class="submit-btn" type="submit">save updated Celebrity</button>
  </div>

</form>