<h2>Celebrity details</h2>


   <h1>{{celebrity.name}}</h1>
   <h3>{{celebrity.knownFor}}</h3>
   <h3>{{celebrity.catchPhrase}}</h3>
   <h3>{{celebrity.occupation}}</h3>

    <div class="row">
        <form action="/celebrities/{{celebrity.id}}/delete" method="POST">
          <button class="btn-edit-delete"  type="submit">Delete</button>
        </form>
        </form>
        <a href="/celebrities/{{celebrity.id}}/edit" class="btn-edit-delete">Edit info</a>
    </div>
