<div class="container p-5">
    <div class="row justify-content-center">

        <div class="col-md-6 p-4">

            <h2>Edit Celebrity</h2>
            <form class="row g-3" action="/celebrities/{{id}}/edit" method="POST">
                <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="name" value="{{name}}">
                </div>
                <div class="col-md-12">
                    <label for="occupation" class="form-label">Occupation:</label>
                    <input type="text" name="occupation" class="form-control" id="occupation" value="{{occupation}}">
                </div>
                <div class="col-md-12">
                    <label for="catchPhrase" class="form-label">Catchphrase:</label>
                    <input type="text" name="catchPhrase" class="form-control" id="catchPhrase" value="{{catchPhrase}}">

                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark">Edit</button>
                    <a href="/celebrities/{{id}}" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>