<h2 class="celebrities">Edit the Celebrity</h2>
<form action="/celebrities/{{celebrity._id}}/edit" method="POST">
  <div class="form-floating mb-3">
    <input
      type="text"
      name="name"
      value="{{celebrity.name}}"
      class="form-control"
    />
    <label for="name" class="form-label">Name</label>
  </div>
  <div class="form-floating mb-3">
    <select
      name="occupation"
      class="form-select mb-3"
      aria-label=".form-select example"
    >
      <option
        value="{{celebrity.occupation}}"
        selected
      >{{celebrity.occupation}}</option>
      <option value="Actor">Actor</option>
      <option value="Singer">Singer</option>
      <option value="Comedian">Comedian</option>
      <option value="Unknown">Unkown</option>
    </select>
    <label for="occupation" class="form-label">Occupation</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="textarea"
      name="catchPhrase"
      value="{{celebrity.catchPhrase}}"
      class="form-control"
    />
    <label for="catchPhrase" class="form-label">Catch Phrase</label>
  </div>
  <button type="submit" class="btn btn-secondary btn-add">Edit Celebrity</button>
</form>