<div class="container form">
    <h2>¿QUIERES EDITAR LA INFO DE {{name}}?</h2>

    <form action="/celebrities/{{_id}}/edit" method="POST">
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="name" value="{{name}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Profesión:</label>
            <input type="text" class="form-control" name="occupation" list="occupation" value="{{occupation}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Frase célebre:</label>
            <input type="text" class="form-control" name="catchPhrase" value="{{catchPhrase}}">
        </div>
        <button type="submit" class="btn" style="background-color: #f05811;">Editar artista</button>
    </form>

    <datalist id="occupation">
        <option>actor</option>
        <option>actriz</option>
        <option>cómico</option>
        <option>cómica</option>
        <option>modelo</option>
        <option>cantante</option>
        <option>mocatriz</option>
        <option>influencer</option>
        <option>drag</option>
        <option>falsa gurú</option>
        <option>desconocido</option>
    </datalist>

</div>