<a href="/celebrities">Back</a>

<div class="celebrity">

    <span>{{ name }}</span>
    <span>{{ occupation }}</span>
    <span>{{ catchPhrase }}</span>

    <div class="options">
        <a href="/celebrities/edit/{{_id}}">Edit</a>
        <a href="/celebrities/delete/{{_id}}">Delete</a>
    </div>
    
</div>