<div class="container">

    <h2>Update {{name}}</h2>

    <hr>
    <div class="row justify-content-center">

        <div class="col-6">

            <form action="/celebrities/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="celebrityName" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="occupation" class="form-label">Occupation</label>
                    <input type="text" class="form-control" id="celebrityOccupation" name="ocupation" value="{{occupation}}">
                </div>

                <div class="mb-3">
                    <label for="catchPhrase" class="form-label">Catch Phrase</label>
                    <input type="text" class="form-control" id="celebritycatchPhrase" name="catchPhrase" value="{{catchPhrase}}">
                </div>

                <div class="mb-3">
                    <label for="imageURL" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="celebrityimage" name="imageURL" value="{{imageURL}}">
                </div>

                <button type="submit" class="mb-5 mt-2 btn btn-dark">Update celebrity</button>

            </form>

        </div>

    </div>

</div>