    <p class="card-text"><strong>Genre</strong> : {{genre}}</p>
    <p class="card-text">
        <span class="text-muted"><strong>Plot</strong>: {{plot}}</span>                                
    </p>
    <ul>
        <strong>Cast</strong>:
        {{#each cast}}
        <li>
            {{name}} | {{occupation}}  | <em>"{{catchPhrase}}"</em>
        </li>
        {{/each}}
    </ul>