<div class="container">
    <h1>Detalles de {{title}}</h1>
    <hr>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
    <p>
        {{#each cast}}
    <p>{{name}}</p>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>

    {{/each}}
    </p>
    <form action="/movies/{{id}}/delete" method="POST">
        <button type="submit" class="btn btn-dark btn-block">Eliminar película</button>
    </form>
    <br>
    <form action="/movies/edit/{{id}}" method="POST">
        <button type="submit" class="btn btn-dark btn-block">Editar película</button>
    </form>
    <hr style="opacity: .5;">

    <a href="/movies" class="btn btn-dark">Volver</a>
</div>