
<div class="celebrity">
    <span>{{ name }}</span>
    <span>{{ occupation }}</span>
    <span>{{ catchPhrase }}</span>

    <div class="options">
        <a href="celebrities/{{_id}}">See details</a>
        <a href="celebrities/edit/{{_id}}">Edit</a>
        <a href="celebrities/delete/{{_id}}">Delete</a>
    </div>
    
</div>