<h2>Edit Movie</h2>
<form action="/movies/{{_id}}/edit" method="POST">
    <div>
        <label>title</label>
        <input type="text" name="title" value="{{movie.title}}">
    </div>
    <div>
        <label>genre</label>
        <input type="text" name="genre" value="{{movie.genre}}">
    </div>
    <div>
        <label>plot</label>
        <input type="text" name="plot" value="{{movie.plot}}">
    </div>
    <div>
        <label>cast</label>
        <select multiple>
            {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
        <p>Hold down the Ctrl (windows) /
          Command (Mac) button to select multiple options.</p>
    </div>
    <button type="submit">Edit Movie</button>
</form>