<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Edit {{name}}</h1>

            <hr>

            <form action="/teams/details/{{id}}/edit" method="POST">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" value='{{name}}'>
                </div>

                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="nationality" value='{{nationality}}'>
                </div>

                <div class="form-group">
                    <label for="ligue">Ligue Name</label>
                    <input type="text" class="form-control" name="ligue" id="ligue" value='{{ligue}}'>
                </div>

                <div class="form-group">
                    <label for="founded">Founding Date</label>
                    <input type="date" class="form-control" name="founded" id="founded" value='{{founded}}'>
                </div>


                <div class="form-group">
                    <label for="formerPlayers">Choose a Former Player</label>
                    <select name="formerPlayers" id="formerPlayers" multiple>
                        {{#each players}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>


                <button type="submit" class="btn btn-dark btn-block btn-lg">Confirm changes</button>

            </form>
        </div>

    </div>

</div>