<div class="container mt-5">
  <h1>Movie Detail</h1>

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">{{movie.title}}</h3>
      <p class="card-text"><strong>Genre:</strong> {{movie.genre}}</p>
      <p class="card-text">{{movie.plot}}</p>

      <div class="mt-3">
        <h4>Cast</h4>
        <ul>
          {{#each movie.cast as |celebrity|}}
            <li><a href="/celebrities/{{celebrity._id}}">{{celebrity.name}}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class="mt-3">
        <a href="/movies" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
</div>
