<h2>Edit your movie</h2>
<form action="/movies/{{_id}}" method="post" class="tac">
    <input type="hidden" name="_id" value="{{_id}}"><br>
    <label for="title">Title:</label><br>
    <input type="text" name="title" value="{{title}}"><br>
    <label for="genre">Genre:</label><br>
    <input type="text" name="genre" value="{{genre}}"><br>
    <label for="plot">Plot:</label><br>
    <input type="text" name="plot" value="{{plot}}"><br> <br>
    Cast: <br>
    <select name="cast" multiple class="multipleoptioncast">
        {{#each cast}}
        <option value="{{_id}}" selected>{{name}}</option>
        {{/each}}
    </select>
    <br>
    <br>
    <button class="btn btn-outline-primary">EDIT</button>
</form>