<div class="list-movies">

    <h2 class="celebrities-title">Update de movie {{title}}</h2>

    <form action="/movies/{{id}}/edit" method="POST">

        <div class="mb-3">

            <label for="title"></label>
            <input type="text" class="form-control" id="title" placeholder="Título" name="title" value="{{title}}">
        </div>

        <div class="mb-3">
            <label for="genre"></label>
            <input type="text" class="form-control" id="genre" placeholder="Género" name="genre" value="{{genre}}">
        </div>

        <div class="mb-3">
            <label for="plot"></label>
            <input type="text" class="form-control" id="plot" placeholder="Trama" name="plot" value="{{plot}}">
        </div>


        <button type="submit" class="btn btn-edit btn-sm">Edit movie</button>

        <a href="/movies" class="btn btn-dark btn-sm">Return to home</a>
    </form>

</div>