<div class="container2">
    <h2 class="titleEveryPage">Update a movie</h2><br>
    <div class="mb-3 centeredDiv d-flex flex-column">
        <form action="/movies/{{movies._id}}/edit" method="post" class="formDiv d-flex flex-column">
            <label class="form-label"> Title
                <input type="text" name="title" class="form-control" value="{{movies.title}}" />
            </label>

            <label class="form-label"> Genre
                <input type="text" name="genre" class="form-control" value="{{movies.genre}}" />
            </label>

            <label class="form-label"> Plot
                <input type="text" name="plot" class="form-control" value="{{movies.plot}}" />
            </label>

            <label class="form-label"> Cast
                <select multiple class="form-control orm-select-lg " name="cast">
                    {{#each celebrities}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </label>

            <button type="submit" class="btn btn-dark indexButton"> Update the movie </button>
        </form>
    </div>
    <div class="formDiv">
        <a href="/"><button type="text" class="btn btn-dark indexButton"> Home </button></a>
    </div>
</div>