<h1>Edit Movie details:</h1>

<form action="/movies/{{this._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{this.title}}" />
  </label>

  <label> Genre:
    <input type="text" name="genre" value="{{this.genre}}" />
  </label>

  <label> Plot:
    <textarea name="plot" cols="30" rows="4"> {{this.plot}} </textarea>
  </label>

  <label> Cast:
    <input type="text" name="cast" value="{{this.author.name}}" />
  </label>

  <button type="submit">Save</button>
</form>
