<form
  class="input-container"
  action="/movies/edit/{{oldMovie._id}}"
  method="post"
>
  <h2 class="create-title">
    Edit the movie
  </h2>
  <label>Movie Title:
    <input type="text" name="title" value="{{oldMovie.title}}" />
  </label>

  <label>Genre:
    <input type="text" name="genre" value="{{oldMovie.genre}}" />
  </label>

  <label>Plot:
    <input type="text" name="plot" value="{{oldMovie.plot}}" />
  </label>

  <label>Image:
    <input type="text" name="image" value="{{oldMovie.image}}" />
  </label>

  <select name="cast" multiple>
    {{#each allCelebrity}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <div>
    <button class="submit-btn" type="submit">save updated movie</button>
  </div>

</form>