<h2>Edit Movies</h2>

<form action="/movies/{{movie.id}}edit" method="POST">
    <input name="title" placeholder="Title" value="{{movie.title}}">
    <input name="genre" placeholder="Genre" value="{{movie.genre}}">
    <textarea name="plot" placeholder="Plot">{{movie.plot}}</textarea>
    <select name="cast" multiple value="{{movie.cast}}">
        {{#each celebrities as |celebrity|}}
            <option value="{{celebrity.id}}">{{celebrity.name}}</option>
        {{/each}}     
    </select>
    <button type ="submit">Edit Movie</button>
</form>