<h2>Edit Movie</h2>

<form method="post" action="/movies/{{movie.id}}/edit">
    <label> Title:
        <input type="text" name="title" value='{{movie.title}}' />
    </label>

    <label> Genre:
        <input type="text" name="genre" value='{{movie.genre}}' />
    </label>

    <label> Plot:
        <textarea name="plot" cols="30" rows="4">{{movie.plot}}</textarea>
    </label>

    <label> Cast:

        <select multiple name="cast">
            {{#each cast}}
            <option value={{this._id}}>
                {{this.name}}
            </option>
            {{/each}}
        </select>

    </label>

    <button type="submit">Update Movie</button>
</form>