<h2>Edit movie</h2>

<form action="/movies/{{_id}}" method="post">
  <input type="text" name="_id" value="{{_id}}" /><br />
  <input type="text" name="title" value="{{title}}" /><br />
  <input type="text" name="genre" value="{{genre}}" /><br />

  Cast:
  <label for="Cast">Choose</label>
  <select name="Cast" id="Cast" multiple>
    {{#each celebrities}}

      <option value="{{_id}}">{{name}}</option>
    {{/each}}

  </select>

</form>