<h1>Edit this Movie!</h1>
<p>
<form method="POST" action="/movies/{{movie._id}}/edit">
    <div>
        <input class="form-control" type="text" size="50"  aria-label="default input example" name="title" value="{{movie.title}}">
        <br>
        <input class="form-control" type="text" size="50"  aria-label="default input example" name="genre" value="{{movie.genre}}">
        <br>
        <input class="form-control" type="text"  size="50" aria-label="default input example" name="plot" value="{{movie.plot}}">
        <br>
         <br>
        <select name="cast" multiple>
            {{#each allCelebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <button class="btn btn-primary" type="submit">UPDATE</button>
    </div>
</form>
</p>


