<h1>Edit Movies</h1>
<hr>
<form action="/movies/{{newMovie.id}}/edit" method="POST">
    <div>
        <label for="tit" class="form-label">Title</label>
        <input type="text" class="form-control" id="tit" name="title" value="{{newMovie.title}}">
    </div>
    <div>
        <label for="gen" class="form-label">Genre</label>
        <input type="text" class="form-control" id="gen" name="genre" value="{{newMovie.genre}}">
    </div>
    <div>
        <label for="plot" class="form-label">Plot</label>
        <input type="text" class="form-control" id="plot" name="plot" value="{{newMovie.plot}}">
    </div>
    <div class="mb-3">
        <label for="cast" class="form-label">CAST</label>
        <select id='cast' name="cast" class="form-select">
            {{#each newCelebrity}}
            <option value={{id}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Guardar</button>
        <a href="/">Inicio</a>
    </div>
</form>