<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Edit Movie.</h2>
        </div>
        <div class="col-md-3 input-group input-group-lg">

            <form action="/movies/edit?movie_id={{id}}" method="post">
                <hr>
                <label for="title">Movie Title:
                    <input class="form-control" name="title" type="text" value="{{title}}">

                </label>
                <hr>
                <hr>
                <label for="genre">Movie genre:
                    <input class="form-control" name="genre" type="text" value="{{genre}}">

                </label>
                <hr>
                <hr>
                <label for="plot">Movie Plot:
                    <input class="form-control" name="plot" type="text"  value="{{plot}}">

                </label>
                <hr>
                <hr>
                <label for="plot">Movie Cast:
                    <input class="form-control" name="cast" type="text"  value="{{cast}}"
                        placeholder="Insert Celebrities By IdRef">

                </label>
                <button class="btn btn-outline-light btn-block" type="submit">Submit</button>
            </form>
        
        </div>
    </div>
</div>