<h2>Editar {{movie.title}}</h2>
<hr>

<form action="/movies/{{movie._id}}/edit" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Género</label>
        <input type="text" class="form-control" id="genre" name="genre" value="{{movie.genre}}">
    </div>
    <div class="mb-3">
        <label for="plot" class="form-label">Trama</label>
        <input type="text" class="form-control" id="plot" name="plot" value="{{movie.plot}}">
    </div>
    <div class="mb-3">
        <label for="cast" class="form-label">Cast</label>
        <select name="cast" id="cast" class="form-select">
            {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Editar Película</button>
        <a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>
    </div>

</form>