
<form action="/movies/create" method="post">
    <input type="text" name="title" placeholder="title" value="{{name}}">
    <input type="text" name="genre" placeholder="genre" value="{{genre}}">
    <input type="text" name="plot" placeholder="plot" value="{{plot}}">

    <select multiple name="cast">
        <option value="">Select Cast</option>
        {{#each celebrities}} 
            <option value="{{_id}}">{{name}}{{occupation}}</option>
        {{/each}}
    </select>
   
    <button>Submit</button>
</form>
