<h2>Edit Movie</h2>

<form action="/movies/{{movie._id}}/update" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" id="" value="{{movie.title}}">
  <label for="">Genre:</label>
  <input type="text" name="genre" id="" value="{{movie.genre}}">
  <label for="">Plot:</label>
  <input type="text" name="plot" id="" value="{{movie.plot}}">
  
  {{!-- array of celebrities in the cast --}}
  <label for="">Cast:</label>
  <select name="cast" multiple>
    {{#each allCelebs}}
    {{#if isInCast}}
      <option value="{{this._id}}" selected='selected'>{{this.name}}</option>
      {{else}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/if}}
    {{/each}}
  </select>

  <button type="submit">Save the changes</button>
</form>