<form method="POST" action="/movies/{{all.[1].id}}/edit">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" value="{{all.[1].title}}" name="title">
  </div>
  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" class="form-control" id="genre" value="{{all.[1].genre}}" name="genre">
  </div>
  <div class="form-group">
    <label for="plot">Plot</label>
    <input type="text" class="form-control" id="plot" value="{{all.[1].plot}}" name="plot">
  </div>

  <div class="form-group">
    <label for="cast">
      <select class="custom-select" name="cast" id="cast">
        <option value="" disabled selected>Choose a celebrity</option>
        {{#each all.[0]}}
        {{!-- {{#if isSelected}} --}}

        {{!-- <option selected>{{name}}</option> --}}
        {{!-- {{else}} --}}

        <option value='{{id}}'>{{name}}</option>
        {{!-- {{/if}} --}}
        {{/each}}
      </select>
    </label>
  </div>


  {{#if error}}
  <p id="error">
    {{error}}
  </p>
  {{/if}}

  <button type="submit" class="btn btn-warning btn-block">Submit</button>
</form>