<a href="/movies">Movies</a>
<hr />

<h2>Edit the movie: {{movie.title}}</h2>

<form action="/movies/{{movie._id}}/edit" method="post">

  <label>
    Movie Title:
    <input type="text" value="{{movie.title}}" name="title" />
  </label>

  <label>Genre:
    <input type="text" value="{{movie.genre}}" name="genre" />
  </label>

  <label>Plot
    <input type="text" value="{{movie.plot}}" name="plot" />
  </label>

  <label>Cast:
    <select name="cast" multiple>
      {{#each celebrities}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </label>

  <button>Edit</button>

</form>