<h2>
    Edit Movies
</h2>

<form action="/movies/{{updateMovie._id}}" method="POST">

    <input type="text" value={{updateMovie.title}} name="title">
    <input type="text" value={{updateMovie.genre}} name="genre">
    <input type="text" value={{updateMovie.plot}} name="plot">

    <label for="cast">Select cast</label>
    <select name="cast" multiple>
        {{#each celebrities}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>


    <input type="submit">
</form>