<h2>All Movies</h2>

<form action="/movies/{{movie.id}}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      name="title"
      value="{{movie.title}}"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Genre</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="genre"
      value="{{movie.genre}}"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Plot</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword2"
      name="plot"
      value="{{movie.plot}}"
    />
  </div>
  <div class="mb-3">
    <label for="disabledSelect" class="form-label">Cast</label>
    <p>
      <select id="disabledSelect" class="form-select" name="cast" multiple>
        {{#each celebrities}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>