<h2>Edit Movie</h2>
<form action="/movies/{{_id}}" method="POST">
  <label>
    Title:
    <input type="text" name="title" value="{{title}}" />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" value="{{genre}}" />
  </label>

  <label>
    Plot:
    <input type="text" name="plot" value="{{plot}}" />
  </label>

  <label>
    Cast:
    <select name="cast" id="cast">
      {{#each allCelebrities}}
        <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
  </label>

  <button><input
      type="submit"
      value="Update character"
      class="btn-dark btn"
    /></button>
</form>