<h2>Edit the movie</h2>

<form action="/movies/{{movie._id}}/edit" method="POST">
    <label>Title:
        <input type="text" name="title" value="{{movie.title}}">
    </label>

    <label>Genre:
        <input type="text" name="genre" value="{{movie.genre}}">
    </label>

    <label>Plot:
        <input type="text" name="plot" value="{{movie.plot}}">
    </label>
    <label>Cast:
        <input type="text" name="cast" value="{{movie.cast}}">
    </label>

    <button type="submit">Submit</button>

</form>