<h2>Edit movie</h2>
<form action="/movies/{{foundMovie.id}}/edit" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" value="{{foundMovie.title}}">
  </div>
 <div class="form-group">
    <label>Genre</label>
    <input type="text" class="form-control" name="genre"  value="{{foundMovie.genre}}">
  </div>
  <div class="form-group">
    <label>Plot</label>
    <input type="textarea" class="form-control" name="plot"  value="{{foundMovie.plot}}">
  </div>
   <div class="form-group">
    <label>Cast</label>
    <select multiple class="form-control" name="cast">
        {{#each foundCelebs}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
   <button type="submit" class="btn btn-primary">Update</button>
</form>