<div>


<h2>Editar película</h2>

<form action="/movies/{{getMovie._id}}/edit" method="POST">
<label for="title">Nombre:  </label>
    <input type="text" name="title" value="{{getMovie.title}}"/>
    <br />
    <label for="genre">Genero: </label>
    <input type="text" name="genre" value="{{getMovie.genre}}"/>
    <br />
    <label for="plot">Descripcion: </label>
    <input type="text" name="plot" value="{{getMovie.plot}}"/>
    <br />
    {{#each getMovie.cast}}
    <label for="cast">Actor: {{name}}</label>
    {{/each}}
    <br>
    <select name="cast" multiple="true">
        {{#each celebritiesList}}
        <option value="{{_id}}">{{name}}</option>
        
        {{/each}}
    </select>

    <br>

    <button type="submit">Actualizar</button>

    </form>
</div>
