<h2>Edit Movies</h2>
<form action="/movies/{{_id}}/edit" method="post">
<label for="title">Enter Movie Title</label>
<input type="text" name="title" value="{{title}}"> 
<label for="genre">Enter Genre of Movie</label>
<input type="text" name="genre" value="{{genre}}">
<label for="plot">Describe plot of movie</label>
<input type="text" name="plot"value="{{plot}}">

<label for="">
            cast
            <select name="cast" multiple id ="">
                {{#each cast}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>

{{!-- <label for="cast">Enter cast of movie</label>
 <select name="cast" multiple>
        {{#each allCelebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
     </select> --}}
        {{!-- <label for=""> --}}

<button>Edit Movies</button>
</form> 


