<h2>Edit movie</h2>

<form action="/movies/{{foundMovie._id}}" method="post">
<label>Title
    <input type="text" name="title" value="{{foundMovie.title}}">
</label>

<label>Genre
    <input type="text" name="genre" value="{{foundMovie.genre}}">
</label>

<label>Plot
    <input type="text" name="plot" value="{{foundMovie.plot}}">
</label>

<label>Cast
    {{!-- <input type="text" name="cast" value="{{foundMovie.cast.[0].name}}"> --}}
    <select name="cast" multiple>
        {{#each allCelebsFromDB}}
        {{#if isInCast}}
            <option selected value="{{_id}}"> {{ name }}</option>
        {{ else }}  
            <option value="{{_id}}">{{ name }}</option>
        {{/if}}
        {{/each}}
    </select>

</label>


<button>Save</button>
</form>