
<h2>Edit Movie </h2>
<form action="/movies/{{eachMovie._id}}" method="POST">
<label for="title">Title</label>
<input type="text" name="title" value="{{eachMovie.title}}">

<label for="genre">Genre</label>
<input type="text" name="genre" value="{{eachMovie.genre}}">

<label for="plot">Plot</label>
<input type="text" name="plot" value="{{eachMovie.plot}}">

<label for="cast">Cast
<select name="cast" id="cast"  multiple >
  {{#each celebrities}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
</select></label>
<button type="submit"> Edit Movie</button>




</form>