<div class="container d-flex justify-content-center flex-wrap">
  <h2 class="my-4 w-100">Edit Movie</h2>
  <form action="/movies/{{Movie.id}}/edit" method="post" enctype="multipart/form-data" class="w-50 d-flex flex-column mt-5 needs-validation" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control" required value="{{Movie.title}}">
      <div class="invalid-feedback">
        Please provide a Title
      </div>
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <input type="text" name="genre" id="genre" class="form-control" required value="{{Movie.genre}}">
      <div class="invalid-feedback">
        Please provide a Genre
      </div>
    </div>
    <div class="mb-3">
      <label for="plot" class="form-label">Plot</label>
      <input type="text" name="plot" id="plot" class="form-control" required value="{{Movie.plot}}">
      <div class="invalid-feedback">
        Please provide a Plot
      </div>
    </div>
    <div class="mb-3">
      <label for="cast" class="form-label">Cast</label>
      <select class="form-select" name="cast" required>
        {{#each cast}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        Please provide a Plot
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Select one image</label>
      <input required class="form-control" type="file" name="image" accept="image/*" id="image">
    </div>
    <span class="text-danger mb-3">{{errorMessage}}</span>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>