<h2>Movie Edit</h2>

 

<label> Title:
        <input type="text" name="title" value={{movie.title}} />
    </label>

  <label> Genre:
        <input type= "text" name = "genre" value={{movie.genre}}/>
    </label>

<label> Plot:
        <input type= "text" name = "plot" value={{movie.plot}}/>
    </label>

<label> Cast:
    <select name="cast"  multiple> 
{{#each celebrities}}
        <option value={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
   </label>
  
    
  <form action="/movies/{{this._id}}/edit-movie" method="POST"> 
 <button type="submit">submit</button>
 </form>