{{!-- <h2>Edit the book: {{movie.title}}</h2>

<form method="POST" action="/movie/{{movie._id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{movie.title}}" />
    </label>

    <label> Movie:
        <select name="movie">
            {{#each movies}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4">{{book.description}}</textarea>
    </label>

    <label> Rate:
        <input type="number" name="rating" min="1" max="10" value="{{book.rating}}" />
    </label>

    <button>Save changes</button>
</form> --}}