<h2>Edit Movie</h2>

<form action="/movies/{{this.movie.id}}/edit" method="POST">
  <div>
    <label for="Input1">Title</label>
    <input name="title" type="text" id="Input1" value="{{this.movie.title}}" />
  </div>
  <div>
    <label for="Input2">Genre</label>
    <input name="genre" type="text" id="Input2" value="{{this.movie.genre}}" />
  </di>
  <di>
    <label for="Input3">Plot</label>
    <input name="plot" type="text" id="Input3" value="{{this.movie.plot}}" />
  </div>

  <p>Cast:</p>
  <select name="cast" id="cast" multiple>
    {{#each celebrities}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <div>
    <input type="submit" value="Edit Movie"/>
  </div>
</form>