<h2>Edit Movie</h2>

<form action="/movies/{{movieToEdit._id}}/edit" method="POST">
    <label for="">
        Title
        <input type="text" name="title" value="{{movieToEdit.title}}">
    </label>
        <label for="">
        Genre
        <input type="text" name="genre" value="{{movieToEdit.genre}}">
    </label>
        <label for="">
        Plot
        <textarea cols="30" rows="10" name="plot">{{movieToEdit.plot}}</textarea>
    </label>
    <label for="">
        Cast
        <select name="cast" multiple>
            {{#each allCelebs}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>
    <button type="submit">Edit Movie</button>
</form>