<h2>Edit movie: {{movie.title}}</h2>

<form action="/movies/{{movie._id}}/edit" method="post">

  <label for="name">Title:</label>
  <input type="text" name="title" id="title" value="{{movie.title}}" />

  <label for="name">Genre:</label>
  <input type="text" name="genre" id="genre" value="{{movie.genre}}" />

  <label for="name">Plot:</label>
  <input type="text" name="plot" id="plot" value="{{movie.plot}}" />

  <label for="name">Cast:</label>
  <select name="cast" id="cast" multiple>

    {{#each celebrities}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <button type="submit">Edit movie</button>

</form>