<h2>Edit Movie</h2>

<form action='/movies/{{movie._id}}/edit' method='POST'>
  <input value='{{movie.title}}' type='text' name='title' />
  <input value='{{movie.genre}}' type='text' name='genre' />
  <input value='{{movie.plot}}' type='text' name='plot' />
  <select name='cast' id='{{cast}}' multiple>
    {{#each celebrities}}
      <option value='{{this._id}}'>{{this.name}}</option>
    {{/each}}
  </select>
  <button type='submit'>Edit Movie</button>
</form>