<h1>Editar Movies - {{foundMovies.title}}</h1>

<form action="/movies/{{foundMovies._id}}/edit" method="POST">

	<label>Title</label>	
	<input type="text" name="title" value="{{foundMovies.title}}" />

	<label>Genre</label>	
	<input type="text" name="genre" value="{{foundMovies.genre}}" />

	<label>Plot</label>	
	<input type="text" name="plot" value="{{foundMovies.plot}}" />

	<label>Elenco</label>
	<select name="cast" multiple>

		{{#each allCelebrities}}
			<option selected value={{_id}}>{{name}}</option>
		{{/each}}
	</select>


	<button type="submit">Guardar cambios</button>

</form>