<h2>Editando Película {{title}}</h2>

<form action="/movies/movies/{{movie.id}}/edit/" method="POST">
    <label>
        Titulo <input type="text" name="title" value="{{movie.title}}">
    </label>
    <label>
        Género <input type="text" name="genre" value="{{movie.genre}}">
    </label>
    <label>
        Argumento <input type="text" name="plot" value="{{movie.plot}}">
    </label>

    <label for="actors" </label>
        <select multiple name="cast">
    
            {{#each cast}}
            <option value="{{_id}}">"{{name}}"</option>
            {{/each}}
    
        </select>
   
    <hr>
    <input type="submit" value="Actualizar peli">