<header>
    <nav>
        <a href="/">Home</a>
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Add Celebrity</a>
        <a href="/movies">Movies</a>
        <a href="/movies/create">Add a Movie</a>
    </nav>
</header>

<h1>Edit the movie: {{movie.title}}</h1>
 
<form action="/movies/{{movie._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{movie.title}}" />
  </label>
 
  <label> Genre:
    <input type="text" name="genre" value="{{movie.genre}}" />
  </label>
 
  <label> Plot:
    <textarea name="plot" cols="30" rows="4">{{movie.plot}}</textarea>
  </label>
 
  <label> Cast:
    <select name="cast" multiple>
        {{#each celebs}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
    </select>
  </label>
 
  <button>Save changes</button>
</form>