<h1>Update {{name}}</h1>

<hr>

<form action="/movies/{{_id}}/edit" method="POST">

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label for="genre" class="form-label">Genre</label>
        <input type="string" class="form-control" id="genre" name="genre" value="{{genre}}">
    </div>
    <div class="mb-3">
        <label for="plot" class="form-label">Plot</label>
        <input type="string" class="form-control" id="plot" name="plot" value="{{plot}}">
    </div>
    <label for="cast" class="form-label">Cast</label>
    <select name="cast" class="form-select" multiple>
        {{#each cast}}

        <option value={{id}}>{{name}}</option>

        {{/each}}
    </select>


    <button type="submit" class="btn btn-dark">Update!</button>
    <a href="/" class="btn btn-dark">HOME</a>
</form>