<div>

    <h2>Edit movie</h2>

    <form action="/movies/{{pickedMovie._id}}/edit" method="POST">
            <label>Title: </label>
        <input type="text" name="title" value="{{pickedMovie.title}}">

        <label>Genre: </label>
        <input type="text" name="genre" value="{{pickedMovie.genre}}">

        <label>Plot: </label>
        <input type="text" name="plot" value="{{pickedMovie.plot}}">

        
         <label>Cast:</label>
        <select name="cast" multiple>
            {{#each cast}}
            <option value="{{this._id}}" selected>{{this.name}}</option>
            {{/each}}
        </select> 


    <button type="submit">Edit Movie</button>
    </form>

</div>