<h2>Edit the Movie: {{title}}</h2>

<form action='`' movies ${_id} edit` method='POST'>
	<label>
		Title:
		<input type='text' name='title' value='{{movie.title}}' />
	</label>

	<label>
		Genre:
		<input type='text' value='{{movie.genre}}' />

	</label>

	<label>
		Plot:
		<input type='text' value='{{movie.plot}}' name='plot' />
	</label>

	<label>
		Cast:

		<select name='cast'>
			{{#each celebs}}

				<option value='{{_id}}'>{{name}}</option>
			{{/each}}
		</select>

	</label>

	<button>Save changes</button>
</form>
