{{!-- iteration #10 --}}
<h2>Edit this Movie</h2>

<form action="/movies/{{foundMovie._id}}/edit" method="POST" class="form">
	{{#with foundMovie}}
		<div class="card">
			<h3>movie</h3>

			<label for="title">title</label>
			<input type="text" name="title" value="{{title}}">
			
			<label for="genre">genre</label>
			<input type="text" name="genre" value="{{genre}}">

			<label for="plot">plot</label>
			<input type="text" name="plot" value="{{plot}}">
		</div>
	{{/with}}

	<label for="cast">cast</label>
	<select name="cast" multiple required>
		{{#each foundCelebrities}}
		{{!-- {{#if filteredCelebrities}} BONUS?? --}}
			{{!-- <option value="{{_id}}" selected>{{name}}</option> BONUS?? --}}
			<option value="{{_id}}">{{name}}</option>
		{{/each}}
	</select>

	<button type="submit">Save Changes</button>
</form>
