<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>Edit movie</h2>

            <hr class="border border-warning">

            <form action="/movies/{{movie._id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Movie title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
                </div>

                <div class="mb-3">
                    <label for="genre" class="form-label">Movie genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" value="{{movie.genre}}">
                </div>

                <div class="mb-3">
                    <label for="plot" class="form-label">Movie plot</label>
                    <input type="text" class="form-control" id="plot" name="plot" value="{{movie.plot}}">
                </div>

                <div class="mb-3">
                    <label for="sel" class="form-label">Cast</label>
                    <select multiple id="sel" class="form-select" name="cast" style="width: 525px;">
                        {{#each celebrities}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Edit movie</button>
                </div>
            </form>

        </div>
    </div>


</div>