<div class="container">
    <h2>Edit the movie: {{movie.title}}</h2>

    <form action="/movies/{{movie.id}}/edit" method="post">

        <p>
            <label> Title:
                <input type="text" name="title" value="{{movie.title}}" />
            </label>
        </p>

        <p>
            <label> Genre:
                <input type="text" name="genre" value="{{movie.genre}}" />
            </label>
        </p>

        <p>
            <label> Plot:
                <textarea name="plot" cols="30" rows="4">{{movie.plot}}</textarea>
            </label>
        </p>

        <p>
            <label> Cast:
                <select name="cast">
                    {{#each celebArr}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
        </p>

</div>
<button class="btn btn-primary m-2">Save Changes</button>
</form>