<div class="container">
    <h2>Edit Movie</h2>

    <form action="/movies/{{movie._id}}/edit" method="POST">
        {{#with movie}}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{title}}">
            <div class="form-text">This cannot be an empty field.</div>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre of the Movie</label>
            <input type="text" class="form-control" id="genre" name="genre" value="{{genre}}">
        </div>
        <div class="mb-3">
            <label for="plot" class="form-label">Plot of the Movie</label>
            <input type="text" class="form-control" id="plot" name="plot" value="{{plot}}">
        </div>
        {{/with}}
        <div class="mb-3">
            {{#with celebs}}
            <label for="cast" class="form-label">Cast</label>
            <select multiple class="form-select" aria-label="Default select example" name="cast" id="cast">
                {{#each this}}
                {{#if inMovie}}
                <option selected value="{{id}}">{{name}}</option>
                {{/if}}
                {{#unless inMovie}}
                <option value="{{id}}">{{name}}</option>
                {{/unless}}
                {{/each}}
            </select>
            {{/with}}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>