<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Edit Movie</h1>
            <hr>
            <form action="/movies/{{movie.id}}/edit" method="POST">
                <div class="mb-3 mt-5">
                    <label for="movieTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="movieTitle" name="title" value={{movie.title}}>
                </div>

                <div class="mb-3">
                    <label for="movieGenre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="movieGenre" name="genre" value={{movie.genre}}>
                </div>

                <div class="mb-3">
                    <label for="moviePlot" class="form-label">Plot</label>
                    <input type="text" class="form-control" id="moviePlot" name="plot" value={{movie.plot}}>
                </div>

                <div class="mb-3 ">
                    <label for="actualMovieCast" class="form-label">Casting</label>
                    <select class="form-select" id="actualMovieCast" multiple name="actualCast">

                        {{#each movie.cast}}
                        <option selected disabled value={{id}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 ">
                    <label for="newMovieCast" class="form-label">New Casting</label>
                    <select class="form-select" id="newMovieCast" multiple name="cast">
                        <option selected disabled>Choose new Cast</option>
                        {{#each celebrities}}
                        <option value={{id}}>{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Save Changes</button>
            </form>
        </div>
    </div>
</div>