<div class="container col-6 justify-content-center">    
   <h2>Edit Movie</h2>
<hr>
</div>
<div class="container">

  <hr />
  <div class="row justify-content-center">

    <div class="col-md-6">
      <form action="/movies/:{{id}}" method="POST">
        <div class="form-group">
          <label for="titleMovie">Title</label>
          <input
            value="{{findMovie.title}}"
            type="text"
            class="form-control"
            id="titleMovie"
            name="{{title}}"
          /></div>

          <div class="form-group">
          <label for="genreMovie">Genre</label>
          <input
            value="{{findMovie.genre}}"
            type="text"
            class="form-control"
            id="genreMovie"
            name="{{genre}}"
          /></div>

        <div class="form-group">
          <label for="plotMovie">Plot</label>
          <input
            value="{{findMovie.plot}}"
            type="text"
            class="form-control"
            id="plotMovie"
            name="{{plot}}"
          /></div>
           <div class="form-group">
          <label for="castMovie">Cast</label>
            <select class="form-control" name="{{cast}}" id="castMovie">
              <option value="" disabled selected>Choose an Actor</option>
            {{#each theCelebrities}}
             <option value={{findCelebrities.id}}>{{findCelebrities.name}}</option>
             {{/each}}
            </select>
          </div>
        <button
          type="submit"
          class="btn btn-dark btn-block"
        >Modificar Pelicula</button>
      </form>
    </div>
  </div> 

  <hr>
  <a href="/" class="btn btn-dark">Volver</a></div>