<h2>Editar película</h2>

<form action="/movies/{{movie.id}}/edit" method="post">

    <label for="movie-title">Name</label>
    <input type="text" name="title" id="movie-title" value='{{movie.title}}'>

    <label for="movie-genre">Genre</label>
    <input type="text" name="genre" id="movie-genre" value='{{movie.genre}}'>

    <label for="movie-plot">Plot</label>
    <input type="text" name="plot" id="movie-plot" value='{{movie.plot}}'>

    <label for="movie-cast">Cast</label>

    <select name="cast" id="movie-cast" multiple>
        {{#each selCelebs}}
            {{#if selected}}
                <option value={{cel.id}} selected> {{cel.name}} </option>
            {{else}}
                <option value={{cel.id}}> {{cel.name}} </option>
            {{/if}}
        {{/each}}
    </select>

    <button type="submit">Update</button>

</form>

<p>{{errorMessage}}</p>