<h2>Edit Movie</h2>

<hr>

<form action="/movies/{{movie._id}}/edit" method="POST">
    <div class="mb-3">
        <label for="field2" class="form-label">title</label>
        <input type="text" class="form-control" id="field2" value={{movie.title}} name="title">
    </div>

    <div class="mb-3">
        <label for="field2" class="form-label">genre</label>
        <input type="text" class="form-control" id="field2" value={{movie.genre}} name="genre">
    </div>

    <div class="mb-3">
        <label for="field2" class="form-label">plot</label>
        <input type="text" class="form-control" id="field2" value={{movie.plot}} name="plot">
    </div>

    <div class="mb-3">
        <label for="field2" class="form-label">cast</label>
        <select class="form-select" id="field4" name="cast">
            <option>Select celebritie</option>
            {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>


    <div class="d-grid">
        <button type="submit" class="btn btn-dark">Confirm</button>
    </div>

</form>