<div class="container">
    <h2>Update {{name}}</h2>

    <hr>
    <div class="row justify-content-center">

        <div class="col-6">
            <form action="/movies/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="movietitle" name="title" value="{{title}}">
                </div>

                <div class="mb-3">
                    <label for="genre" class="form-label">genre</label>
                    <input type="text" class="form-control" id="moviegenre" name="genre" value="{{genre}}">
                </div>

                <div class="mb-3">
                    <label for="plot" class="form-label">plot</label>
                    <input type="text" class="form-control" id="movieplot" name="plot" value="{{plot}}">
                </div>

                <div class="mb-3">
                    <label for="cast" class="form-label">cast</label>
                    <input type="text" class="form-control" id="moviecast" name="cast" value="{{cast}}">
                </div>

                <div class="mb-3">
                    <label for="poster" class="form-label">poster</label>
                    <input type="text" class="form-control" id="movieposter" name="poster" value="{{poster}}">
                </div>

                <button type="submit" class="btn btn-dark">Update movie</button>

            </form>

        </div>

    </div>
</div>