<h2>Edit Movie: {{movieFound.title}}</h2>
<hr />
<form action="/movies/{{movieFound._id}}/edit">
	<label for="">Title:</label>
	<input type="text" name="title" value="{{movieFound.title}}" />
	<br />
	<label for="">Genre:</label>
	<input type="text" name="genre" value="{{movieFound.genre}}" />
	<br />
	<label for="">Plot:</label>
	<input type="text" name="plot" value="{{movieFound.plot}}" />
	<br />
	<label for="">Cast:</label>
	{{!-- <input type="text" name="cast" value="{{movieFound.cast}}" /> --}}
	<select name="cast">
		{{#each movieFound.cast}}
			<option value="{{this._id}}">{{this.name}}</option>
		{{/each}}
	</select>
	<br />
	<button type="submit">Save the changes</button>
</form>