<h2>Edit the movie {{movie.title}}</h2>

<form action="/movies/{{movie._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{movie.title}}" />
  </label>

  <label> Genre:
    <input type="text" name="genre" value="{{movie.genre}}" />
  </label>

  <label> Plot:
    <textarea name="plot" cols="30" rows="4">{{movie.plot}}</textarea>
  </label>

    <label for="cast"> Cast:
    <select name="cast" multiple>
      <option disable selected value=""></option>
      {{#each cast}}
        <option> {{name}} </option>
      {{/each}}
    </select>
  </label>
  <button type="submit">Save changes</button>
</form>