<h2>Edit Movie: {{movieDetails.title}}</h2>

<form action="/movies/{{movieDetails._id}}/edit" method="post">
    <label> Title:
        <input type="text" name="title" value="{{movieDetails.title}}" />
    </label>

    <label>Genre:
     <input type="text" name="genre" value="{{movieDetails.genre}}"/>
  </label>

  <label>Plot:
      <textarea name="plot" cols="20" rows="4">{{movieDetails.plot}}</textarea>
  </label>

    <label>Cast:
     <select name="cast" multiple>
            {{#each celebritiesArr}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
  </label>

    <button>Submit</button>
</form>