<h2>Edit movie</h2>

<form action="/movies/{{movieToEdit._id}}/edit" method="POST">
    <label>Title</label>
    <input type="text" name="title" value="{{movieToEdit.title}}" />

    <label>Genre</label>
    <input type="text" name="genre" value="{{movieToEdit.genre}}" />

    <label>Plot</label>
    <input type="text" name="plot" value="{{movieToEdit.plot}}" />




    <label>Cast</label>
    {{!-- <input type="text" name="author" value="{{author}}" /> --}}
    <select name="cast" multiple>
        <option value="">Choose cast</option>
        {{#each allCelebrities}}
        {{#eq name ../movieToEdit.cast.name}}
        <option value={{_id}} selected>{{name}}</option>
        {{else}}
        <option value={{_id}}>{{name}}</option>
        {{/eq}}
        {{/each}}
    </select>



    <button type="submit">Update</button>

</form>