<h2 class="title-page">Edit Movie</h2>
<form action="/movies/{{movie._id}}/edit" method="post">
    <div class="movie-container">
        <label for="title">Title:</label><br>
        <input class="movie-input" type="text" name="title" placeholder="Title" value="{{movie.title}}">
        <label for="genre">Genre:</label><br>
        <input class="movie-input" type="text" name="genre" placeholder="Genre" value="{{movie.genre}}">
        <label for="plot">Plot:</label><br>
        <input class="movie-input" type="text" name="plot" placeholder="Plot" value="{{movie.plot}}">
        <label for="cast">Cast:</label><br>
        <select class="movie-input" name="cast" id="cast" multiple>
            {{#each celebrities}}
            {{#if __v}}
            <option value="{{_id}}" selected>{{name}}</option>
            {{else}}
            <option value="{{_id}}">{{name}}</option>
            {{/if}}
            {{/each}}
        </select>
        <button class="movie-button" type="submit">Edit</button>
    </div>
</form>