<h2>Edit the Movie: {{movie.Title}}</h2>

<form action='/movies/{{movie._id}}/edit' method='POST'>
	<label>
		Title:
		<input type='text' name='Title' value='{{movie.title}}' />
	</label>

	<label>
		Genre:
		<select name='Genre' id=''>
			{{#each movie}}

				<option value=''>{{Genre}}</option>

			{{/each}}
		</select>

	</label>

	<label>
		Plot:
		<input type='text' value='{{Plot}}' name='Plot' />
	</label>

	<label>
		Cast:
		<input type='text' value='{{movie.Cast}}' name='Cast' />
	</label>

	<button>Save changes</button>
</form>
