<h2>Edit Movie</h2>

{{#with movie }}
<form action="/movies/{{_id}}/edit" method="post">
  <label>Title:
    <input type="text" name="title" placeholder="{{title}}">
  </label>
  
  <label>genre:
    <input type="text" name="genre" placeholder="{{genre}}">
  </label>

  <label>Plot:
    <input type="text" name="plot" placeholder="{{plot}}">
  </label>
{{/with}}

  <label>Cast:
    <select name="cast" multiple>
      {{#each movie.cast}}
        <option value="{{_id}}" selected>{{name}}</option>
      {{/each}}

      {{#each celebrity}}
        {{!-- {{#unless (isInArray _id movie.cast)}} --}}
        <option value="{{_id}}">{{name}}</option>
        {{!-- {{/unless}} --}}
      {{/each}}
    </select>
  </label>

  <button type="submit">Save</button>
</form>

<a href="/movies">back</a>
