<h2>Edit a movie!</h2>



<form onsubmit="" method="POST">
   Title:
   <input type="text" name="title" value="{{movie.title}}">
   genre:
   <input type="text" name="genre" value="{{movie.genre}}">
   <br>
   <br>
   Plot:
   <br>
   <textarea name="plot" id="" cols="30" rows="5">{{movie.plot}}</textarea>
   <br>
   <br>
   Cast:
   {{#each movie.cast}}
     <select name="cast" id="celebrities" multiple>
          {{#each celebrity}}
              <option name="cast" value="{{this._id}}">{{this.name}}</option>
          {{/each}}
     </select>
    {{/each}}

      <form action="/movies/{{movie._id}}" method="POST">
        <button>Edit Movie!</button>
    </form>
</form>