<h2>Edit movie</h2>
<p>{{selectedMovie.plot}}</p>
<form action="/movies/{{selectedMovie._id}}" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="{{selectedMovie.title}}"/>
    
    <label>Genre:</label>
    <input type="text" name="genre" value="{{selectedMovie.genre}}"/>

    <label>Plot:</label>
    <input type="text" name="plot" value="{{selectedMovie.plot}}"/>
    
    <label>Choose a cast:</label>
    <select name="cast" multiple>
        {{#each allCelebrities}}
            <option value={{this._id}}>{{this.name}}</option>
        {{/each}}
    </select>

    <button type="submit">Edit movie</button>
</form>