<h2>Editar {{title}}</h2>

<form action="/movies/{{_id}}/edit" method="post">
    <div class="mb-3">
        <label for="ttl" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="ttl" name="title" value="{{title}}">

    </div>
    <div class="mb-3">
        <label for="gnr" class="form-label">Género:</label>
        <input type="text" class="form-control" id="gnr" name="genre" value="{{genre}}">
    </div>
    <div class="mb-3">
        <label for="plot" class="form-label">Trama:</label>
        <input type="text" class="form-control" id="plot" name="plot" value="{{plot}}">
    </div>
    <div class="mb-3">
        <label for="sel" class="form-label">Celebrities</label>
        <select multiple id="sel" class="form-select">
            {{#each cast}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" class="btn btn-dark" value="Editar">
</form>