<h2>Update the Movie:</h2>


<form action="/movies/{{p1._id}}/edit" method="post">
    <label> Title:
        <input type="text" name="title" value="{{p1.title}}" />
    </label>

    <label> Genre:
        <input type="text" name="genre" value="{{p1.genre}}" />
    </label>

    <label> Plot:
        <input type="text" name="plot" value="{{p1.plot}}" />
    </label>

    <label>Cast
        <select multiple name="cast">
            {{#each p2}}
                <option selected value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>
  <button class="btn btn-dark">Save changes</button>
</form>


