<h1 class="text-center mt-5 mb-4">Edit Movie</h1>

<form class="container-sm mx-auto" style="max-width: 400px;" action="/movies/{{movie._id}}/edit" method="POST">

  <div class="form-group mb-3">
    <label for="title" style="color: #3498db;">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Movie title" value="{{movie.title}}" required>
  </div>

  <div class="form-group mb-3">
    <label for="genre" style="color: #3498db;">Genre</label>
    <input type="text" class="form-control" name="genre" value="{{movie.genre}}" id="genre" placeholder="Genre" required>
  </div>

  <div class="form-group mb-3">
    <label for="plot" style="color: #3498db;">Plot</label>
    <textarea class="form-control" name="plot" id="plot" rows="3" placeholder="Movie plot" required>{{movie.plot}}</textarea>
  </div>

  <div class="form-group mb-3">
    <label for="cast" style="color: #3498db;">Cast</label>
    <select class="form-select" name="cast" id="cast" multiple required>
      {{#each celebrities as |celebrity|}}
        <option value="{{celebrity._id}}">{{celebrity.name}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>


