<h1>Movies list</h1>

<ul>
    {{#each movies}}
    <li class="card">
        <h3>{{title}}</h3>
        <p>{{genre}}</p>
        <p>{{plot}}</p>
        <a href="/movies/{{this._id}}">Details</a>
        <a href="/movies/{{this._id}}/edit">Edit</a>
        <form action="/movies/{{this._id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </li>
    {{/each}}
</ul>