<h2>{{title}}</h2>
<div>Genre: {{genre}}</div>
<br>
<div>Plot: {{plot}}</div>
<br>
<div>Cast:
    <br>
{{#each cast}}
<div>Name: {{name}}</div>
<div>Occupation: {{occupation}}</div>
<div>Catch Phrase: {{catchPhrase}}</div>
<div>
    <a href="/celebs/{{_id}}">View Celebrity Details</a>
</div>
<br>
<hr>
{{/each}}
</div>

<form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit">Delete Movie</button>
</form>

<a style="margin-left:5px" href="/movies/{{_id}}/edit">Edit Movie</a>
