<h2>Details for {{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>

<h3>Cast</h3>
{{#each cast}}
  <p>The {{occupation}} {{name}} used to say "{{catchPhrase}}"</p>
{{/each}}

<a href="/">Back to Home Page</a>