<h2>Movie</h2>
<ul>
    <li>Title:{{title}}</li>
    <li>Genre:{{genre}}</li>
    <li>Plot:{{plot}}</li>
    {{#each cast}}
    <ul>
        <li>Name:{{this.name}}</li>
        <li>Occupation:{{this.occupation}}</li>
        <li>CatchPhrase:{{this.catchPhrase}}</li>
    </ul>
    {{/each}}
</ul>

<form action="/movies/{{id}}/delete" method="POST">

<button type="submit">Delete movie</button>
</form>
<a href="/movies/{{id}}/edit">Edit movie</a>