<h2>Movie details</h2>

<p>{{title}}</p>
<p>{{genre}}</p>
<p>{{plot}}</p>

{{#each cast}}
<p>{{name}}</p>
<p>{{occupation}}</p>
<p>{{catchPrase}}</p>
{{/each}}





<form action="/movies/{{id}}/delete" method="post">

<button type="submit">Delete movie</button>

</form>