<h2>Details for: {{ foundMovie.title }}</h2>

<p>Genre: {{foundMovie.genre}}</p>

<p>Cast:<br>  
    <ul>
    {{#each foundMovie.cast}}
    <li>{{ name }}</li>
{{/each}}
</ul>
</p>

<p>Plot: {{foundMovie.plot}}</p>

<p><a href="/movies/{{foundMovie.id}}/edit"> Edit Movie</a></p>

<form action="/movies/{{foundMovie.id}}/delete" method="POST">
    <button>Delete Movie</button>
</form>
<br>
<a href="/movies">Back to movies</a>