
<h2>{{title}}</h2>
<div>
  genre: {{genre}}
  <br>
  - Plot: {{plot}}

  "/movies/{{_id}}/edit"
</div>
<div>
    members of the cast
    {{#each cast}}
        {{this.name}}
    {{/each}}
</div>



<hr>
<form action="/movies/{{_id}}/delete" method="POST">
<button>delete</button>
</form>
<hr>
<form action="/movies/{{_id}}/edit" method="get">
<button>edit the movie</button>
</form>