<div class="movies-page">

  <h1 class="movies-title">Your movies:</h1>
  <br />
  <h2 class="movies-text">Click on the movie to check the details!</h2>
  <br />

  <div class="movies-flex">
    {{#each allMovies}}
      <div class="card">
        <h3 class="card-title">{{title}}</h3>
        <a class="card-link" href="/movies/{{_id}}">See more</a>
        {{#if image}}
          <a href="/movies/{{_id}}">
            <img src="{{image}}" alt={{title}} class="movies-image" />
          </a>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>