<h2>Movie Details</h2>
<div>{{data.title}}</div>
<div>{{data.genre}}</div>
<div>{{data.plot}}</div>
<ul>Casts</ul>
{{#each data.cast}}
  <li>{{this.name}}
    <br />{{this.occupation}}
    <br />{{this.catchPhrase}}
  </li>
{{/each}}
<form action="/movies/{{data._id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>