<h2>Movie Details</h2>
<div>
    <h3>{{title}}</h3>
    <h3>{{genre}}</h3>
    <h3>{{plot}}</h3>
    <div>
        <p>Cast:</p>
        <ul>
            {{#each cast}}
            <li>Name: {{name}}</li>
            <li>Occupation: {{occupation}}</li>
            {{/each}}
        </ul>

        <form action="/movies/{{_id}}/delete" method="post">
            <input type="submit" value="delete">
        </form>
        <a href="/movies/{{_id}}/edit">Edit</a>
    </div>
</div>