<div>
    <h1>Movies List</h1>
</div>

<hr>

<div class="container row align-items-start">

    {{#each movies}}

    <div class="col-md-3 col-gd-3 text-center">
        <article class="container">

            <img src="{{imageUrl}}" alt="{{title}}" class="mx-auto d-block rounded float-start">
            <h5>{{title}}</h5>

            <div class="d-grid  gap-2 mx-auto">
                <a href="/movies/{{id}}" class="btn btn-dark btn-sm">(+info)</a>

                <form action="/movies/{{id}}/delete" method="POST" style="display: inline">
                    <input type="submit" value="Delete Movie" class="btn btn-dark btn-sm">
                </form>

                <a href="/movies/{{id}}/edit" class="btn btn-dark btn-sm">Edit Movie</a>
            </div>
        </article>

    </div>

    {{/each}}

</div>