<div>
  <h2>{{movie.title}}</h2>
  <p>genre: {{movie.genre}}</p>
  <p>plot: {{movie.plot}}</p>
</div>
<div>
  <p>cast:</p>
  {{!-- WHY? movie.cast here? --}}
    {{#each movie.cast}}
    <div>
        <br>
      <p>Name: {{this.name}}</p>
      <p>Occupation: {{this.occupation}}</p>
      <p>CatchPrashe: {{this.catchPhrase}}</p>
        ––
        <br>
    </div>
    {{/each}}
  </p>
</div>
<div>
    <form action="/movies/{{movie._id}}/delete" method="POST">
        <button>Delete Movie!</button>
    </form>
    <br>
    <a href="/movies/{{movie._id}}/edit">Edit the movie</a>
</div>
<br>
<br>
<a href="/movies">Go Back!</a>