<section>
    <h2>{{title}}</h2>
        Genre: {{genre}} <br>
        Plot: {{plot}} <br>
        Cast: 
        <ul>{{#each cast}}
            <li>{{name}}
            <ul>
                <li>{{occupation}}</li>
                <li>{{catchPhrase}}</li>
            </ul></li>
        {{/each}}
        </ul>
    <form action="/movies/{{_id}}/delete" method="post">
        <button>Delete this movie</button>
    </form>
</section>