<h2 class="movies-title">{{oneMovie.title}}</h2>

<div class="movie-detail-card">
  {{#if oneMovie.image}}
    <img src="{{oneMovie.image}}" alt={{oneMovie.title}} />
  {{/if}}

  <div>
    <h2 class="detail-title"><strong>cast</strong></h2>
    <ul class="detailed-list">
      {{#each oneMovie.cast}}
        <li class="list-name">{{name}}</li>
      {{/each}}
    </ul>
    <h2 class="detail-title"><strong>Plot</strong></h2>
    <p class="movies-plot">{{oneMovie.plot}}</p>
  </div>

</div>

<div class="edit-delete">
  <a class="card-link" href="/movies/edit/{{oneMovie._id}}">edit movie</a>
  <div class="delete">
    <form action="/movies/{{oneMovie._id}}/delete" method="post">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</div>