<h2>Movie details:</h2>

<h1>{{movie.title}}</h1>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>

{{#each celebrities}}
  <p>Name: {{name}}</p>
  <p>Occupation: {{occupation}}</p>
  <p>Catch Phrase: {{catchPhrase}}</p>
{{/each}}

<form action="/movies/{{movie.id}}/delete" method="post">
  <button type="submit">Delete movie</button>
</form>