<h2>Movie details</h2>
<h3>Title: {{movie.title}}</h3>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<p>Cast:</p>
{{#each movie.cast}}
    <p>{{@index}}.name: {{this.name}}</p>
    <p>occupation: {{this.occupation}}</p>
    <p>catchPhrase: {{this.catchPhrase}}</p>
{{/each}}
<form action="/movies/{{movie._id}}/delete" method="POST">
    <button >Delete</button>
</form>
<br>
<a href="/movies/{{movie._id}}/edit" >
    <button >Edit</button>
</a>