<div class="movie-detail-card">
  <h2 class="detail-title">{{oneMovie.title}}</h2>

  {{#if oneMovie.image}}
    <img class="image" src="{{oneMovie.image}}" alt={{oneMovie.title}} />
  {{/if}}

  <h2 class="detail-title"><strong>cast</strong></h2>

  <ul class="detailed-list">
    {{#each oneMovie.cast}}
      <li class="list-name">{{name}}</li>
    {{/each}}
  </ul>

  <br />
  <p class="movies-plot">{{oneMovie.plot}}</p>

  <a class="card-link" href="/movies/edit/{{oneMovie._id}}">edit movie</a>

</div>