<h1>Ficha Película</h1>

<hr>
<h2>{{title}}</h2>

<p>Genero: {{genre}}</p>
<p>Trama: {{plot}}</p>
<p>Cast:</p>
<ul>
    {{#each cast}}
    <li>{{name}}</li>
    <br>
    <p>{{occupation}}</p>
    <p>'{{catchPhrase}}'</p>
    {{/each}}
</ul>

<hr>

<div class="d-grid">
    <a class="btn btn-success" href="/movies/{{_id}}/edit" role="button">Editar Película</a>
    <a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>
    <form action="/movies/{{_id}}/delete" method="POST">
        <br>
        <button class="btn btn-danger">Eliminar</button>
    </form>
</div>