<div class="container">

    <hr>
    <h2>Listado de películas</h2>

    <hr>

    {{#each movie }}

    <article class="peliculas">

        <a href="/celebrities">

            <h5>Título {{title}} </h5>

            <h5>Género {{genre}}</h5>

            <h5>Trama {{plot}} </h5>

        </a>




        <a href="/movies/{{id}}" class="btn btn-dark btn-sm">Mostrar detalles de la película</a>

        <a href="/movies/{{id}}/edit" class="btn btn-dark btn-sm">Editar película</a>








    </article>

    {{/each}}

</div>