<h2>Title: {{result.title}}</h2>
<br/>
<h6><strong>Genre:</strong> {{result.genre}}</h6>
<h6><strong>Plot:</strong> {{result.plot}}</h6>
<br/>
<h6><strong>Cast Details:</strong></h6> 
{{#each cast}}
<h6><strong>Name:</strong> {{this.name}}</h6>
<h6><strong>Occupation:</strong> {{this.occupation}}</h6>
<h6><strong>Catch Phrase:</strong> {{this.catchPhrase}}</h6>
{{/each}}
<br/>
<form action="/movies/{{result.id}}/delete" method="post"> 
<a class="btn" href="/movies/{{result._id}}/edit">Edit</a>
<button class="btn" type="submit">Delete</button>
</form>

