<h1>Peliculas</h1>
<div class="row ">
    {{#each moviesArray}}
    <div class="col-md-4 mb-4 w-25 text-center">
        <div class="card">

            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-text"> Genero:{{genre}}</p>
                {{#each cast}}
                <p class="card-text">Actor:{{name}}</p>
                {{/each}}
                <p>
                    <a href="/movies/movie-details/{{_id}}">Info de {{title}}</a>
                </p>
                <div class="d-grid">

                    <a href="/movies/{{_id}}/update-movie"><input type="submit" class="btn btn-dark" value="editar"
                            style="display: inline;"></input></a>

                    <form action="/movies/{{_id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="eliminar" class="btn btn-danger">
                    </form>
                </div>
            </div>

        </div>
    </div>
    {{/each}}
</div>