<h2>Details of the movie</h2>

<h4>Movie</h4>
<p>Title: {{moviesArr.title}}</p>
<p>Genre: {{moviesArr.genre}}</p>
<p>Plot: {{moviesArr.plot}}</p>

<h4>Cast:</h4>

{{#each moviesArr.cast}}
<p>Name: {{this.name}}</p>
<p>Occupation: {{this.occupation}}</p>
<p>Catch phrase: {{this.catchPhrase}}</p>
<br>
{{/each}}

<form action="/movies/{{moviesArr._id}}/delete" method="POST">
    <button>Delete</button>
</form>

<br>

<form action="/movies/{{moviesArr._id}}/edit">
    <button>Edit</button>
</form>