<div class="movie-class">
    <h2>Movie details</h2>

    <div class="movie">
        <h3>Title <br>{{title}}</h3>
        <h4>Genre <br>{{genre}}</h4>
        <h5>Plot <br>{{plot}}</h5>
    </div>

    <h2 class="celebrities-title">Celebrities</h2>
    {{#each cast}}

    <a href="/celebrities">

        <br>{{name}}
        <p>Occupation--{{occupation}}</p>
        <p>Goal--{{catchPhrase}}</p>

        {{/each}}


        <form action="/movies/{{id}}/delete" method="POST" style="display: inline-block">
            <input type="submit" value="Eliminar" class="btn btn-delete btn-sm">
        </form>
        <hr>
        <div class="btn-return">
            <a href="/movies" class="btn btn-dark">Return to list</a>
            <a href="/" class="btn btn-home">Return to home</a>

        </div>
</div>