<div class="container mt-4">
    <h2>Movies Details</h2>
    <hr>
    <div class="row gp-4 m-4 d-flex justify-content-center alig-items-center">
        <div class="d-flex card col-md-4 p-3 m-1">
            <div class="p-3 bg-white mb-1">
                <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Academy_Award_trophy.png">
                <h4 class="card-title pt-3">{{title}}</h4>
                <p>title</p>
                <h5 class="card-subtitle pt-2">{{genre}}</h5>
                <p class="card-text">Genre</p>
                <h5 class="card-subtitle pt-2">{{plot}}</h5>
                <p class="card-text">Plot</p>
                <h5>Cast</h5>
                {{#each cast}}
                <ul>
                    <li>{{name}}</li>
                </ul>
                {{/each}}
            </div>
            </select>
            <a href="/movies/edit-movie/{{_id}}" class="btn btn-success mb-3">Edit</a>
            <form action="/movies/movie-details/{{_id}}" method="POST">
                <input type="submit" value="Delete Movie" class="btn btn-danger mb-3">
            </form>
        </div>
    </div>
</div>
<div class="d-grid col-md-4">
    <a href="/" class="btn btn-dark p-3 m-1 d-block">Go Home</a>
</div>
</div>
