<h2>Movie Details</h2>

{{!-- <div>
    <h3>{{movie.title}}</h2>
        <p>{{movie.genre}}</p>
        <span>{{movie.plot}}</span>
</div>
<div>
    {{#each movie}}
    <p>{{cast.name}}
        {{cast.occupation}}
        {{cast.catchPhrase}}</p>
</div>
    {{/each}}


<form class="delete-movie-form" action="/movies/:{{_id}}/delete" method="POST">

<button type="submit" class="btn btn-primary">Delete</button>
</form> --}}