<h2>Your Movie</h2>

<p>Title:{{movieDetail.title}}</p>
<br>
<p>Genre:{{movieDetail.genre}}</p>
<br>
<p>Plot:{{movieDetail.plot}}</p>
<br>

{{#each movieDetail}}
  <p>{{this.name}}</p>
  <p>{{this.occupation}}</p>
  <p>{{this.catchPhrase}}</p>
{{/each}}

