<div class="row">

    <div class="col-md-6">

        <hr>
        <p>{{title}}</p>
        <p> {{genre}}</p>
        <p>
            {{#each cast}}
            <span>{{name}}</span>
            {{/each}}
        </p>
        <hr>
        <a href="/movies/{{_id}}/edit" class="btn btn-warning">Editar Pelicula</a>

        <form action="/movies/eliminar/{{_id}}" method="POST" style="display: inline">
            <input type="submit" value="Eliminar película" class="btn btn-danger">
        </form>

        <a href="/movies" class="btn btn-dark">Volver a Películas</a>
    </div>

    <a href="/" class="btn btn-secondary btn-lg">Ir al inicio</a>