<h2>
  Movies
</h2>
<a href="/movies/new-movie">
  New Movie
</a>

{{#each data}}
  <hr />
  <h3>
    Title:
    {{title}}
  </h3>
  <h3>
    Genre:
    {{genre}}
  </h3>
  <h3>
    Plot:
    {{plot}}
  </h3>
  <h3>
    Cast:
    {{cast}}
  </h3>
  <a href="/movies/{{_id}}">Show details</a>
  <hr />

{{/each}}

<a href="/">
  Back to index
</a>