
<h1><b>{{title}}</b></h1>
<p>{{genre}}</p>
<p><b>Plot:</b>{{plot}}</p>
<h4><b>Cast:</b></h4>
{{#each cast}}
    <h5>{{name}}</h5>
    <p>Occupation: {{occupation}}</p>
    <p>Catch phrase: {{catchPhrase}}</p>
{{/each}}
