<div class="movies-page">
  <h1 class="movies-title">Movies:</h1>

  <div class="movies-flex">
    {{#each allMovies}}
      <div class="card">
        <h3 class="card-title">{{title}}</h3>

        {{#if image}}
          <a href="/movies/{{_id}}">
            <img src="{{image}}" alt={{title}} class="movies-image" />
          </a>
        {{/if}}
        <a class="card-link" href="/movies/{{_id}}">See more</a>
      </div>
    {{/each}}
  </div>
</div>