{{!-- iteration #8 --}}
<h2>Detailed Movie View</h2>

{{#with foundMovie}}
	<div class="card">
		<p><strong>{{title}}</strong></p>
		<p>{{genre}}</p>
		<p>{{plot}}</p>
		<ol>
			{{#each cast}}
				<li><b>{{name}}</b>, {{occupation }} –<i>"{{catchPhrase}}"</i></li>
			{{/each}}
		</ol>
	</div>

	{{!-- iteration #9 --}}
	<form action="/movies/{{_id}}/delete" method="POST" class="form">
		<button type="submit">Delete this Movie</button>
	</form>

	{{!-- iteration #10 --}}
	<form action="/movies/{{_id}}/edit" method="GET" class="form">
		<button type="submit">Edit this Movie</button>
	</form>
	

{{/with}}

