<a href="/">Back to home</a>
<br /><br />

<h2>Movies in our Database</h2>
<hr>

{{#each movie}}
  <section class="movie-summary">
    <h3>{{this.title}}</h3>
    <p>Genre: {{this.genre}}</p>
    <p>Cast: {{this.cast.name}}</p>
    <p>Plot: {{this.plot}}</p>
  </section>
  <a href="/movies/{{this._id}}">More details</a>
  <hr />
{{/each}}