<h2>All Movies</h2>

{{!-- {{#each celebs}}
  <div>
    <h3>{{name}}</h3>
    <p>Occupation: {{occupation}}</p> {{!-- additional drone property --}}
    <p>Catch Phrase: {{catchPhrase}}</p>
    {{!-- <a href="/drones/{{_id}}/edit">Update Drone Info</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>  --}}
  </div>
{{/each}} --}}