<h1>Movie Details</h1>

{{#each newMovie}}
	<div>
		<h2>Title:</h2>
		<p>{{this.title}}</p>
		<h2>Genre: </h2>
		<p> {{this.genre}} </p>
		<h2>Plot:</h2>
		<p> {{this.plot}} </p>
		<h2>Cast:</h2>
		{{#each this.cast}}

			<p> {{name}} </p>
		{{/each}}
		<a href='/movies/{{this._id}}'>Details</a>
		<a href='/movies/{{this._id}}/edit'>Edit</a>
	</div>

{{/each}}