<h1>Movie Details</h1>


    <h3>{{movie.title}}</h3>
    <h4>{{movie.genre}}</h4>
    <p>{{movie.plot}}</p>
    
    <h4>Cast:</h4>
{{#each movie.cast}}
<h5>{{this.name}} - {{this.occupation}}</h5>
<p><i>{{this.catchPhrase}}</i></p>

{{/each}}
      
        <form action="/movies/{{movie._id}}/edit">
          <div class="mb-3">
           <button class="btn btn-primary" type="submit">EDIT</button>
          </div>
        </form>
      
    
        <form method="POST" action="/movies/{{movie._id}}/delete">
          <div class="mb-3">
          <button class="btn btn-primary" type="submit" >DELETE</button>
         </div>
         </form>
    