<h2>Edit Movie</h2>
<form action='/movies/{{movieEdit.id}}' method='post'>
  <label for='title'>Title:
    <input type='text' name='title' id='title' value='{{movieEdit.title}}' />
  </label>
  <br />
  <label for='genre'>Genre:
    <input type='text' name='genre' id='genre' value='{{movieEdit.genre}}' />
  </label>
  <br />
  <label for='plot'>Plot:
    <input type='text' name='plot' id='plot' value='{{movieEdit.plot}}' />
  </label>
  <br />
  <label for='cast'>Choose a cast:</label>
  <select name='cast' id='cast' multiple>
    {{#each celebritiesEdit}}
      <option value='{{this._id}}'>{{this.name}}</option>
    {{/each}}
  </select>
  <br />

  <button type='submit'>
    Update
  </button>
</form>