<h2>Detail Film</h2>
<div>
  <p>Title: {{movie.title}}</p>
  <p>Genre: {{movie.genre}}</p>
  <p>Plot: {{movie.plot}}</p>
  <h4>Casting:</h4>
  {{#each celebrities}}
    <p>Name: {{name}}</p>
    <p>Occupation: {{occupation}}</p>
    <p>Catch Phrase: {{catchPhrase}}</p>
  {{/each}}
</div>

<form method="post" action="{{movie.id}}/delete">
  <label>
    <select>
      {{#each movie}}
        <option value="{{_id}}">{{title}}</option>
      {{/each}}
    </select>
  </label>
  <button>Delete</button>
</form>

{{!-- <form action="{{oneMovie._id}}/delete" method="POST">
  <button>DELETE</button>
</form> --}}