<h1>Movies</h1>
<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col col-4">

            <div class="card mb-3">

                        <img src="{{image}}" alt="" class="card-img-top">
                        <div class="card-body">

                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{genre}}</p>
                            <p class="card-text">
                                <span class="text-muted">{{plot}}</span>                                
                            </p>
                            <a class="btn btn-primary" href="#">
                                Details on {{title}}
                            </a>
                            <a class="btn btn-warning" href="#">
                                Edit
                            </a>
                        </div>

            </div>   
            
        </div> 
        {{/each}}
    </div>
</div>



<a href="/movie/create" class="btn btn-info btn-lg">New Movie</a>