<div>
<h2>Movies details</h2>
{{#each movie}}
    {{this.title}}
    {{this.genre}}
    {{this.plot}}
    {{#each this.cast}}
        {{this}}
    {{/each}}
    <form action="/movies/{{this._id}}/delete" method="POST">
        <button>delete</button>
    </form>
{{/each}}
</div>