
<div class="moviedetails">
    <h5>Movie title: </h5><p>{{title}}</p>
    <h5>Genre:</h5><p>{{genre}}</p>
    <h5>Plot:</h5> <p>"{{plot}}"</p>
    <ol >
    <h5> Cast:</h5>
        {{#each cast}}
        <li>
         {{name}}
        </li>
        {{/each}}

    </ol>
    <a href="/movies/{{_id}}/edit"><button class="btn btn-outline-primary">Edit me</button></a> <br>
    <a href="/movies"><button class="btn btn-outline-info">Go back</button></a>
</div>