<h2>Movie Details</h2>
{{#if movie}}
<h3>{{movie.title}}</h3>
<h4>Genre: {{movie.genre}}</h4>
<p>Plot: {{movie.plot}}</p>
<h3>Starring Celebrities:</h3>
{{#each movie.cast}}
<h4>{{name}}</h4>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>
{{/each}}

<h4>Want to edit this movie?</h4>
<form action='/movies/{{movie.id}}/edit' method="GET">
    <button type="Submit">Edit Movie</button>
</form>
<h4>Want to delete this movie?</h4>
<form action='/movies/{{movie.id}}/delete' method="POST">
    <button type="Submit">Delete Movie</button>
</form>
{{/if}}
