
<h2>{{title}}</h2>
<p>{{genre}}</p>
<p>{{plot}}</p>
{{#each celebrities}}
    <h3>{{this.name}}</h3>
    <p>Occupation: {{this.occupation}}</p>
    <p>Catch phrase: {{this.catchPhrase}}</p>
{{/each}}
