<h2>Details of {{title}}</h2>

<ul>
    <li>
      Movie title:{{title}}
      Genre:{{genre}}
      Plot:{{plot}}
    </li>
</ul>

<ul>
  {{#each celebrities}}
    <li>
      Name:{{name}}
      Occupation:{{occupation}}
      Phrase:{{catchPhrase}}
    </li>
  {{/each}}

</ul>