<div class="container text-center celebrities_title">
    <h2>{{this.title}}</h2>
    <a class="btn btn-danger m-3" href="/">Vuelve a index</a>
</div>

<div class="container bg-light">
    <div class="row justify-content-center">
        <div class="col-md-9 movies_columna bg-light text-center m-2 p-3">

            <h2>Genre</h3>
            <p>{{this.genre}}</p>
            <hr>
            <h2>Plot</h3>
            <p>{{this.plot}}</p>
            <hr>
            <h2>Cast</h3>
            <div class="row">
            {{#each cast}}
            <div class="col-md-4">
                <h4>Name</h4>
                <p>{{this.name}}</p>
                <h4>Occupation</h4>
                <p>{{this.occupation}}</p>
                <h4>Catch Phrase</h4>
                <p>{{this.catchPhrase}}</p>
                <hr>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 m-2 p-2">
            <form action="/movies/id/{{this._id}}/delete" method="post">
                <button type="submit" class="btn btn-danger btn-block">Delete Movie</button>
            </form>
            <a class="btn btn-danger btn-block mt-2" href="/movies/id/{{this.id}}/edit">EDIT</a>
        </div>
    </div>
</div>
