<div class="formsAndDetails">
	
	<h2>Movie Details</h2>

	<h4><u>Title:</u> </h4>
	<p>{{details.title}}</p>

	<h4><u>Genre:</u></h4>

	<p>{{details.genre}}</p>

	<h4><u>Plot:</u></h4>

	<p>{{details.plot}}</p>

	<h4><u>Cast:</u></h4>

	{{#each details.cast}}
		<p>Name: {{name}}</p>
		<p>Occupation: {{occupation}}</p>
		<p>Catch Phrase: {{catchPhrase}}</p>
		<div class="hrDiv"></div>
		<br>

	{{/each}}

	<form action='/movies/{{details._id}}/delete' method='POST'>
		<button type='submit'>Delete Movie</button>
	</form>

	<button><a href='/movies/{{details._id}}/edit'>Edit Movie</a></button>

</div>