
<div>
  <h1>{{movie.name}}</h1>
  <p>{{movie.genre}}</p>
  <p>{{movie.plot}}</p>

  <ul>
    {{#each movie.cast}}
      <li>{{this.name}}</li>
    {{/each }}
  </ul>
</div>


<form action="/movies/{{_id}}/delete" method="POST">
  <button>Delete</button>
</form>

<a href="/movies/{{_id}}/edit">Edit</a>
