{{#each movies}}
<h2>{{title}}</h2>
<p>{{genre}}</p>
<p>{{plot}}</p>
    {{#each cast}}
        <p>{{name}}</p>
        <p>{{catchPhrase}}</p>
        <p>{{occupation}}</p>
    {{/each}}
<form action="/movies/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
{{/each}}