<h1>{{this.title}}</h1>

<hr />

<h3>Movie Name:</h3>
<p>{{this.movie.name}}</p>

<h3>Description:</h3>
<p>{{this.description}}</p>

{{!-- <h3>Rating:</h3>
<p>{{this.rating}}</p> --}}

<a href="/movies/routes"{{this._id}}/edit">Edit</a>


<hr />

<a href="/movies">Back</a>