<section>

  <div>
    <a href="/movies/movies"><button
        id="newceleb-btn"
        class="btn btn-outline-info"
      >
        Go back
      </button>
    </a>
  </div>

  <div class="text-center">
    <h2 class="fst-italic text-decoration-underline">Movie details</h2>
  </div>

  <div id="editmovie-page">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header"><h1>{{movieDetail.title}}</h1></div>
      <div class="card-body">
        <h6 class="card-title">{{movieDetail.genre}}</h6>
        <p class="card-text">{{movieDetail.plot}}</p>
        <hr />
        <ul id="cast-li">
          {{#each movieDetail.cast}}
            <li class="card-text">{{name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="text-start editmovie-btn">
      <a href="{{movieDetail._id}}/edit"><button
          class="btn btn-outline-warning"
        >
          Edit</button></a>
    </div>

    <div class="text-end editmovie-btn">
      <form action="{{_id}}" method="post">

        <button type="submit" class="btn btn-outline-danger">
          Delete
        </button>
      </form>
    </div>
  </div>

</section>