<h1>editar</h1>

<form action="/movies/{{movie.id}}/edit" method="POST">

<label>
    Título
    <input type="text" name="title" value="{{movie.title}}">
</label>
<label>
    Género
    <input type="text" name="genre" value="{{movie.genre}}">
</label>
<label>
    Trama
    <input type="text" name="plot" value="{{movie.plot}}">
</label>
<label for="cast">
    actores
    <select multiple name="cast" id="cast">
        {{#each cast}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</label>
<input type="submit" value="editar">
</form>

