<h2>{{title}}</h2>
<h3>{{genre}}</h3>
<p>{{plot}}</p>
{{#each cast}}
<h5>Name: {{this.name}}</h5>
<h5>Occupation: {{this.occupation}}</h5>
<h5>Catchphrase: {{this.catchphrase}}</h5>
{{/each}}

<form action="/movies/{{id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>

<a href="/movies">Back</a>