<h2>Movie Details</h2>


<section class="movie-details">
  <h2>{{movieId.title}}</h2>
  <p>
    Genre:
    {{movieId.genre}}<br />
    Plot:
    {{movieId.plot}}<br />
    Cast:<br/>
    {{#each movieId.cast}}
    Name: {{this.name}}<br/>
    Occupation: {{this.occupation}} <br/>
    Catch Phrase: {{this.catchPhrase}} <br/>
    {{/each}}
    
 <p>
        <form action="/movies/{{movieId._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>
</section>

<a href="/movies/movies">Back</a>