
<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">Genre: {{movie.genre}}</p>
      <p class="card-text">Plot: {{movie.plot}}</p>
      <h5>Artists:</h5>
      <ul>
        {{#each movie.cast}}
          <li>{{this.name}}</li>
          <li>{{this.ocupation}}</li>
          <li>{{this.catchPhrase}}</li>
          <br>
        {{/each}}
      </ul>
    </div>

    <form action="/movies/{{movie._id}}/delete" method="post" enctype="application/x-www-form-urlencoded">
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>