<h1>Details for the movie: <strong>{{movie.title}}</strong></h1>
<h3>Title:{{movie.title}}</h2>
<p>Genre: {{movie.genre}}</p>
<p>Plot:{{movie.plot}}</p>
{{#each movie.cast}}
<p>Celebrity Name: {{name}}</p>
<p>Celebrity Ocupation: {{occupation}}</p>
<p>Celebrity Catch Phrase:{{catchPhrase}}</p>
{{/each}}
</div>
    <form action="/movies/{{movie._id}}/delete" method="POST">
        <button>Delete This Movie</button>
    </form>
</div>