<h2>Detalles</h2>

<div class="container">

    <h1> {{title}}</h1>
    <hr>
    <p>Género: {{genre}}</p>
    <hr>
    <p>Argumento: {{plot}}</p>
    <hr>
    <p>Autores/as</p>

    <div class="row">

        {{#each cast}}
        <div class="col-md-3">
            {{!-- <img src="{{pictureUrl}}" alt="{{name}} {{lastName}}" style="width: 100%;"> --}}
            <p>Nombre: {{name}}</p>
            <p>Nombre: {{occupation}}</p>
            <p>Nombre: {{catchPhrase}}</p>

        </div>
        {{/each}}

    </div>

    <td>
        <form action="/movies/{{_id}}/delete" method="POST">
            <input type="submit" value="Eliminar" class="btn btn-dark btn-sm">
        </form>
    </td>

    <hr>


    <a href="/movies/movies" class="btn btn-dark">Volver al listado</a>

    <hr>

    <a href="/" class="btn btn-dark">Volver a inicio</a>

</div>