<h2> Detalles de la Película </h2>
    
    <p> {{title}} </p>
    <p> {{genre}}</p>
    <p> {{.plot}}</p>
      
      {{#each movie.cast}}
       
        <p> {{name}}</p>
        <p> {{occupation}}</p>
        <p> {{catchPhrase}}</p>
      {{/each}}


 {{!-- <form action="/movies/{{_id}}/delete" method="POST"> --}}
