<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3>{{movies.title}} details:</h3>
        <p>Genre: {{movies.genre}}</p>
        <p>{{movies.plot}}</p>
        <p>
            {{#each movies.cast}}
            <span>| {{name}}</span>
            {{/each}}
        </p>
        <form action="/movies/{{movies.id}}/delete" method="POST">
            <button class="btn btn-warning">Delete Movie</button>
        </form>
        <a href="/movies/{{movies.id}}/edit" class="btn btn-secondary">Edit Info</a>
    </div>
</div>