<h1>Movies</h1>
<hr>
<div>
    {{#each movies}}
    <p>Title: {{title}}</p>
    <a class="btn btn-outline-dark" href="/movie-details/{{_id}}" role="button">Movie Details</a>
    <hr>
    {{/each}}


    {{!-- <p>Genre: {{genre}}</p>

    <p>Plot: {{plot}}</p>
    {{#each cast}}
    <p>Cast: {{name}}</p>
    {{/each}} --}}




</div>

<a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>