<h2 class="title-page">Movie Detail</h2>
<div class="row">
    <div class="details-container col-4">
        <p>Name:</p>
        <p>{{title}}</p>
        <p>Genre:</p>
        <p>{{genre}}</p>
        <p>Plot:</p>
        <p>{{plot}}</p>
        <p>Cast:</p>
        {{#each cast}}
        <p>{{name}}</p>
        <p>{{occupation}}</p>
        <p>{{catchPhrase}}</p>
        <br>
        {{/each}}
        <a class="a-button-form" href="/movies/{{_id}}/edit">Edit</a>
        <form action="/movies/{{_id}}/delete" method="post">
            <button class="movie-delete" type="submit">
                Delete
            </button>
        </form>
    </div>
</div>