<h1>Movie details</h1>

    <section class="movie-summary">
        <h2>{{title}}</h2>
        Genre: {{genre}} <br>
        Plot: {{plot}} <br>
        Cast:
        {{#each cast}}
        <li>{{this.name}}</li> 
        {{/each}}

    </section>

    <form action="/movies/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>

    <a href="/movies/{{this._id}}/edit">Edit</a>

    <a href="/movies">Back</a>