<h2>Movie details</h2>

<ul>
    <li>Title: {{title}}</li>
    <li>Genre: {{genre}}</li>
    <li>Plot: {{plot}}</li>
    <li>Cast:
        <ul>
            {{#each cast}}
            <li>Name: {{this.name}}</li>
            <li>Occupation: {{this.occupation}}</li>
            <li>Catch phrase: {{this.catchPhrase}}</li>
            <p></p>
            {{/each}}
        </ul>
    </li>
</ul>

<form action="/movies/{{_id}}/delete" method="post">
<button type="submit">Delete movie</button>
</form>

<a href="/movies/{{_id}}/edit">Edit movie</a>
<br>
<a href="/movies">Back to list of all movies</a>