<h1>Movies</h1>
<hr>
<div>
    {{#each movies}}
    <p>Title: {{title}}</p>
    <hr>
    {{/each}}


    {{!-- <p>Genre: {{genre}}</p>

    <p>Plot: {{plot}}</p>
    {{#each cast}}
    <p>Cast: {{name}}</p>
    {{/each}}
    {{!-- <a class="btn btn-secondary" href="/drones/{{_id}}/edit" role="button">Edit Celebrity</a>
    <form action="/drones/{{_id}}/delete" method="POST">
        <input type="submit" value="Eliminar dron" class="btn btn-danger">
    </form> --}}



</div>

<a class="btn btn-outline-danger" href="/" role="button">Volver a inicio</a>