<h1>Movie Details about {{movie.title}}</h1>
<p>Title: {{movie.title}}</p>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<h3>Cast:</h3>
<ul>
  {{#each movie.cast}}
    <li> <strong>{{this.name}}</strong>, {{this.occupation}}, <br> Catch Phrase: <em>{{this.catchPhrase}}</em></li>
    <br>
  {{/each}}
</ul>
<form action="/movies/{{movie._id}}/edit">
  <button type="submit">EDIT</button>
</form>

<form action="/movies/{{movie._id}}/delete" method="POST">
  <button type="submit">DELETE THIS MOVIE</button>
</form>