<div>
    <h2>{{title}} Details</h2>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
    <p>Cast:</p>
    {{#each movies}}
    <span>{{name}} Ocupation: {{ocupation}} catchPhrase: {{catchPhrase}}</span>
    {{/each}}
</div>

    <form action="/movies/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

    <form action="/movies/{{_id}}/edit" method="POST">
        <button type="submit">Edit</button>
     </form>
