<h1>{{this.title}}</h1>

<hr />

<h3>Genre:</h3>
<p>{{this.genre}}</p>

<h3>Plot:</h3>
<p>{{this.plot}}</p>

<h3>Cast:</h3>
{{!-- <p>{{this.cast}}</p> --}}

<a href="/movies/{{this._id}}/edit">Edit</a>

<hr />

<a href="/movies">Back</a>