<div class="container">

    <h1>Movies List</h1>

    <hr>

    <div class="row justify-content-center">

        {{#each movie}}

        <div class="col-md-4">

            <div class="card">

                <img class="card-img-top" src="{{poster}}" alt="{{title}}">

                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    {{!-- <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6> --}}
                    <p class="card-text">{{plot}}</p>

                    <a href="/movies/{{id}}/edit" class="btn btn-sm btn-info">edit</a>
                    
                    <a href="/movies/{{id}}/details" class="btn btn-sm btn-info">details</a>
                    
                    <form action="/movies/{{id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="delete" class="btn btn-sm btn-danger">
                    </form>
                </div>

            </div>

        </div>

        {{/each}}

        <hr>

        <div class="button">
            <a href="/" class="btn btn-dark">Back home</a>
            <a href="/movies/create" class="btn  btn-secondary btn-danger">CREATE A NEW MOVIE</a>
        </div>
    </div>


</div>