<h2>Movies Details</h2>

<h3>{{title}}</h3>
<h4>Genre: {{genre}}</h4>
<h4>Plot: {{plot}}</h4>

<h5>Cast:</h5>
{{#each cast}}
<h4>{{this.name}}</h4>
<h4>{{this.occupation}}</h4>
<h4>{{this.catchPhrase}}</h4>
{{/each}}


