<h2>Movie details: {{this.title}}</h2>

<h2>{{title}}</h2>
<p>{{genre}}</p>
<p>{{plot}}</p>

{{#unless actors}}
  <p>There are no actors in this movie.</p>
{{/unless}}

{{#each actors}}
  <p>{{this.author.name}}</p>
{{/each}}