<h2>Movie Details</h2>

<div class="details">
  <h3>{{title}}</h3>
  <h5>{{genre}}</h5>
  <p>{{plot}}</p>
  <div>
    <h4>Cast</h4>
    {{#each cast}}
      <p>{{this.name}}</p>
    {{/each}}
  </div>
  <div style="display:flex">

    <a class="btn" href="/movies/{{_id}}/edit">edit</a>
    {{! delete movie }}
    <form class="del-form" action="/movies/{{_id}}/delete" method="POST">
      <button class="del-btn" type="submit">Delete</button>
    </form>
  </div>

</div>

<a href="/movies">back</a>