<h2>
  Movie Details
</h2>

{{#with data}}
  <hr />
  <h3>
    Title:
    {{title}}
  </h3>
  <h3>
    Genre:
    {{genre}}
  </h3>
  <h3>
    Plot:
    {{plot}}
  </h3>
  <h3>
    Cast:
    {{cast}}
  </h3>
  <form action="/movies/{{_id}}/edit" method="post">
    <button type="submit">Edit</button>
  </form>
  <form action="/movies/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <hr />
{{/with}}

<a href="/movies">
  Back to Movies
</a>