<h2>{{title}}</h2>
    <div>
        <p>Genre: {{genre}}</p>
        <p>Plot: {{plot}}</p>
        <div>
            <h4>Cast</h4>
            {{#each cast}}
                <p>{{name}}</p>
                    <ul>
                        <li>Occupation: {{occupation}}</li>
                        <li>Catch Phrase: {{catchPhrase}}</li>
                    </ul>
            {{/each}}
        </div>
        <form class = "mb-3" action="/movies/{{id}}/edit" method="GET">
            <button type="submit" class="btn btn-primary">Edit movie</button>
        </form>
        <form action="/movies/{{id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Delete movie</button>
        </form>
    </div>