<div class="list-page-div">
    <h2>Movie Details</h2>
    <div id="movie-details-div" class="list-page-div details-div">
        <h3>{{movie.title}}</h3>
        <p><span>Genre:</span> {{movie.genre}}</p>
        <p><span>Plot:</span> {{movie.plot}}</p>
        <div class="movie-details-celebrity">
            <p><span>Cast:</span></p>
            {{#each movie.cast as |celebrity| }}
                <a href="/celebrities/{{celebrity._id}}">{{celebrity.name}}</a>
            {{/each}}
        </div>
        <div class="home-btns movies-btns">
            <a class="btn btn-primary" href="/movies/{{movie._id}}/edit">Edit</a>
            <form action="/movies/{{movie._id}}/delete" method="POST">
                <button type="submit" class="btn btn-primary">Delete Movie</button>
            </form>
        </div>
    </div>
</div>