<h1>All information about {{movie.title}}</h1>
<h2>Genre: {{movie.genre}}</h2>
<h2>Plot: {{movie.plot}}</h2>
<h2>Cast:
  {{#each movie.cast}}
    <h2>{{this.name}}</h2>
  {{/each}}
</h2>

<a href="/movies/edit/{{movie._id}}">Edit this movie</a>

<a href="/movies/delete/{{movie._id}}">Delete this movie</a>