<h1>Movies details:</h1>


  <section>
    <h2>{{movieDetails.title}}</h2>
    <h3>{{movieDetails.genre}}</h3>
    <h3>{{movieDetails.plot}}</h3>
  </section>
  <section>
    {{#each movieDetails.cast}}
      <h2>{{this.name}}</h2>
      <h3>{{this.occupation}}</h3>
      <h3>{{this.catchPhrase}}</h3>
    {{/each}}
  </section>





<p>
        <form action="/movies/{{movieDetails._id}}/delete" method ="post"> 
        <button>Delete this movie</button>
        </form>
    </p>

   
