{{#each allMovies}}

        <h2>{{title}}</h2>
        <p>{{genre}}</p>
        {{#each cast}}
        <h2>{{name}}</h2>
        {{/each}}
        <h4>{{plot}}</h4>
    

        <a href="/movies/{{_id}}">See Movie Details</a>
    {{/each}}


{{!-- {{#each allMovies}}
  <div class="movie">
   
    <h3>{{title}}</h3>
    <a href="/movies/{{id}}">See more</a>

  </div>
  {{/each}} --}}

{{!-- <h1>
    Movies
</h1>

{{#each allMovies}}
{{title}}
{{genre}}
{{plot}}
{{cast}}
<a href="/movies/{{_id}}">Go to {{title}} details</a>

{{/each}}

<a href="/movies/{{id}}">See more</a>
   <a href="/books/{{_id}}">Go to {{title}} details</a> --}}