<h2>Movies Details</h2>

<h3>{{this.title}}</h3>
<p>Genre: {{this.genre}}</p>
<p>Plot: {{this.plot}}</p>

{{#each this.cast}}
<p>{{this.name}}</p>
<p>{{this.ocupation}}</p>
<p>{{this.catchPfrase}}</p>
{{/each}}

