TAMOS AQUI
<div class="mb-3 centeredDiv d-flex flex-column">
    {{!-- <h2>Movie</h2>
    <h3>{{title}}</h3>
    <h3>{{genre}}</h3>
    <h3>{{plot}}</h3>
    {{#each cast}}
    <h3>{{name}}</h3>
    <h3>{{occupation}}</h3>
    <h3>{{catchPhrase}}</h3>
    {{/each}} --}}
</div>
<div class="formDiv">
    <a href="/"><button type="text" class="btn btn-dark"> Home </button></a>
</div>