<h2>Movie details</h2>

<h4>Title: {{movie.title}}<h4>

<h6>Genre: {{movie.genre}}<h6>

<p>Plot: {{movie.plot}}</p>

{{#each movie.cast}}
{{name}} <br>
{{occupation}} <br>
{{catchPhrase}} <br>
{{/each}}


<form action="/movies/{{movie._id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>