<div class="container">

    <h1>DETAILS</h1>

    <h1>Title: {{title}}</h1>

    <hr>

    <div class="row">
        <div class="col-md-8">
            <p><strong>plot</strong>: {{plot}}</p>
        </div>
        <div class="col-md-4">
            <p><strong>genre</strong>: {{genre}}</p>
            <p><strong>cast</strong>:

                {{!-- DESPUÉS DE COGER CADA PELI CON EL ID, Y POPULATE EL ATRIBUTO CAST DEL MODEL MOVIES
                TENEMOS QUE ITERAR SOBRE EL ARRAY CAST PARA DESPLEGAR TODOS LOS "NAMES" DEL MODELO CELEBRITY --}}


                {{#each cast}}

            <p>{{name}}</p>
            <P>{{occupation}}</P>
            <P>{{catchPhrase}}</P>
            {{!-- CATCHPHRASE NO ME APARECE EN DETALLES DE LAS PELIS --}}

            <hr>


            {{/each}}

            </p>
        </div>
    </div>

    <hr>
    <form action="/movies/{{id}}/delete" method="post">

        <button type="submit" class="btn btn-dark">Delete this movie </button>

    </form>

    <hr>
    <a href="../movies/movies" class="btn btn-dark">Volver al listado</a>

</div>