{{#each moviesFromDB}}
  <section>
    <h2>{{this.title}}</h2>
    <p>
      Genre:
      {{this.genre}}
      <br />
      Plot:
      {{this.plot}}
      <br />
      Cast:
      {{#each this.cast}}
        {{this.name}}
      {{/each}}
      <br />
      <a href="/movies/{{this._id}}">More details</a>
      |
      <a href="/movies/{{this._id}}/edit">Edit</a>
    </p>
    <form action="/movies/{{this._id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </section>
{{/each}}