<header>
    <nav>
        <a href="/">Home</a>
        <a href="/celebrities">Celebrities</a>
        <a href="/celebrities/create">Add Celebrity</a>
        <a href="/movies">Movies</a>
        <a href="/movies/create">Add a Movie</a>
    </nav>
</header>

<h2>{{title}}</h2>
<h4>Genre: {{genre}}</h4>
<p>Summary of Plot: {{plot}}</p>
{{#each cast}}
    <ul>
        <li value="{{this._id}}">{{this.name}}</li>
    </ul>
{{/each}}


<form action="/movies/{{_id}}/delete" method="POST">
      <button>Delete</button>

<a href="/movies/{{_id}}/edit">Edit</a>