<h1  class="create-cel">MOVIE DETAILS</h2>



<div class="card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
        <h3>{{movie.title}}</h3>
        <hr>
        <p class="p-1">{{movie.genre}}</p>
        <p class="p-2">{{movie.plot}}</p>
            <div class="cast">
               <ul>
                  {{#each movie.cast as |member|}} 
                     <li>{{member.name}}</li>
                      {{/each}} 
                </ul>
            </div>
            <div>
                <form action="/movies/{{movie.id}}/delete" method="POST">
                    <button class="delete" type="submit">Delete</button>
                </form>
            </div>
    </div>
</div>
