<div class ="form-container">
<h1>{{movie.title}}</h1>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<p>Cast</p>

<a href="/movies/{{movie.id}}/edit">Edit Movie</a>

<form action="/movies/{{movie.id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
</div>


