{{!-- Muestra los DETALLES DE CADA PELI --}}

<h2>Movie Details</h2>
<a href="/movies">Back to movies list</a>
</br>
<hr>
  <h4>Movie: {{movieDetail.title}}</h4>
<p><strong>Genre: </strong> {{movieDetail.genre}}</p>  
<p><strong>Plot:</strong>  {{movieDetail.plot}}</p>
<p><strong>Cast: </strong></p>
<ul>
{{#each movieDetail.cast}}
<li>{{this.name}}</li>
  

  {{!-- <p><strong>Name: </strong> {{this.name}}</p> --}}
  {{!-- <p><strong>Occupation: </strong> {{this.occupation}}</p>
  <p><strong>Catch Phrase: </strong> {{this.catchPhrase}}</p> --}}
{{/each}}
</ul>
<br>
<br>


{{!-- Form and Button to DELETE A MOVIE and to EDIT THE MOVIE..
Once clicked on Submit DELETE Button, it activates the "controller" from the DELETING A MOVIE post Method in the movies.routes.js file --}}
<form action="/movies/{{movieDetail._id}}/edit">
<button type="submit">Edit this movie</button>
</form>
<br>
<form action="/movies/{{movieDetail._id}}/delete" method="POST">
<button type="submit">Delete this movie</button>
</form>
{{!-- <button><a href="/movies/{{movieDetail._id}}/edit">Edit the Movie</a></button> --}}