<h2>all about your favorite movie </h2>
<br>
<hr>
<br>


<h4>Title: {{movie.title}} </h4>

<h6>Genre: {{movie.genre}}</h6>
<h6>Plot: {{movie.plot}}</h6>

<h4>Cast</h4>

<ul>
{{#each movie.cast}}
<li>
    {{this.name}} — {{this.occupation}} — {{this.catchphrase}}
</li>

{{/each}}

</ul>

<form action="/movies/{{movie.id}}/delete" method="POST">
    <button type="submit">DELETE</button>
</form>
<br>
<a href="/movies/{{movie._id}}/edit"> <button>EDIT</button></a>
<br>
<br>
<a href="/movies"> <button>RETURN</button></a>