<div class="container text-center movies_title">
    <h2>List of movies!!</h2>
    <p>Click on any title to check the details</p>
    <a class="btn btn-danger m-3" href="/">Vuelve a index</a>
</div>

<div class="container movies_container">
    <div class="row justify-content-center">
        {{#each movies}}
        <div class="col-md-3 movies_columna bg-light text-center m-2 p-3 movie_container">
            <h3>Titulo</h3>
            <a href="/movies/id/{{_id}}"><p>{{title}}</p></a>
            <hr>
            <h3>Genero</h3>
            <p>{{genre}}</p>
            <hr>
            <h3>Plot</h3>
            <p>{{plot}}</p>
            <hr>
            <h3>Cast</h3>
            <ul>
                {{#each cast}}
                  <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
</div>