<h2>All Movies</h2>

{{#each movies}}
  <div>
    <h3>{{title}}</h3>
    <!-- <p>Genre: {{genre}}</p> 
    <p>Plot: {{plot}}</p>
    <ul>
        <li>{{cast}}</li>
    </ul> --
    <!-- <a href="/drones/{{_id}}/edit">Update Drone Info</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button> -->
    </form>
  </div>
{{/each}} 