<h2>Movie Details:</h2>

<h3>{{title}}</h3>
<h4>{{genre}}</h4>
<h5>{{plot}}</h5>

<ul>
{{#each cast}}
<li>{{name}}</li>
<li>{{occupation}}</li>
<li>{{catchPhrase}}</li>
{{/each}}
</ul>

<form action="/movies/:id" method="post">
    <a href="/movies/{{_id}}/delete">Delete</a>
</form>

