<h1>{{movie.title}}</h1>
<p>{{movie.genre}}</p>
<p>{{movie.plot}}</p>
<ul>
  {{#each cast as |actor|}}
    <li>
      <p>{{actor.name}}</p>
      <p>{{actor.occupation}}</p>
      <p>{{actor.catchPhrase}}</p>
    </li>
  {{/each}}
</ul>
<a href="/movies/{{movie.id}}/delete">Delete movie</a>
<a href="/movies/{{movie.id}}/edit">Edit movie</a>