<head>
  <link rel="stylesheet" href="/stylesheets/details.css" />
</head>

<nav class="nav-bar">
  <a class="home-link nav-links" href="/">Homepage</a>
  <a class="movies-list-link nav-links" href="/movies">List of Movies</a>
  <a class="celebrities-list-link nav-links" href="/celebrities">List of
    Celebrities</a>
</nav>

<main>

  <h2>{{movies.title}}</h2>

  <h4>Genre: {{movies.genre}}</h4>
  <p>Plot: {{movies.plot}}</p>

  <h5>Cast:</h5>
  <ul>
    {{#each movies.cast}}
      <li class="name"> {{this.name}}</li>
      <ul>
        <li>{{this.occupation}}</li>
        <li>{{this.catchPhrase}}</li>
      </ul>
    {{/each}}
  </ul>

  <section class="buttons">
    <form action="/movies/{{movies._id}}/delete" method="post">
      <button class="button" type="submit">Delete Movie</button>
    </form>

    <form action="/movies/{{movies._id}}/edit" method="get">
      <button class="button" type="submit">Edit Movie</button>
    </form>
  </section>
</main>