<h2>{{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Genre: {{plot}}</p>

<h3>Cast:</h3>
{{#each cast as |celebrity|}}
<p>{{celebrity.name}}, {{celebrity.ocupation}} {{celebrity.catchPhrase}}</p>
{{/each}}

<h3>Actions:</h3>
<form action="/movies/{{id}}/edit" method="GET">
    <button type="submit" class="btn btn-primary">Edit movie</button>
</form>
<form action="/movies/{{id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete movie</button>
</form>