<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>{{title}} details </h2>
            <h3>Genre: {{genre}}</h3>
            <h3>Movie Plot: {{plot}}</h3>
            <h3>Movie cast: </h3>
            {{#each cast}}
            <h3>{{name}}</h3>
            {{/each}}
            {{!-- <h3>Movie Cast: {{cast}}</h3>

            {{#each celebrities._id }}
            <p value="celebrities_id"> Cast: {{name}} </p>
            {{/each}} --}}

            <a href="/" class="btn btn-outline-dark btn btn-light rounded-pill">Home</a>
            <a href="/movies/edit-movies/{{_id}}" class="btn btn-outline-dark btn btn-light rounded-pill">Edit</a>


            <form action="/movies/movies-details/{{_id}}" method="POST" style="display: inline">
                <input type="submit" value="Delete Movie" class="btn btn-danger rounded-pill">
            </form>

        </div>
    </div>
</div>