<h2>Movie details</h2>

{{#with movie }}
  <p><strong>Title: </strong>{{title}}</p>
  <p><strong>Genre: </strong>{{genre}}</p>
  <p><strong>Plot: </strong>{{plot}}</p>

  <p>Cast
    <ul>
      {{#each this.cast}}
      <li>Name: {{name}}<br>Occupation: {{occupation}}<br>Catch phrase:{{catchPhrase}}</li>
      {{/each}}
    </ul>
  </p>
{{/with}}

<a href="/movies">Back</a>