<h1>Movies</h1>
<a href="/movie/create" class="btn btn-info btn-lg">New Movie</a>

<div class="container">
    <div class="row">
        {{#each movies}}
        <div class="col col-4">

            <div class="card mb-3">

                <img src="{{image}}" alt="" class="card-img-top">
                <div class="card-body">

                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{genre}}</p>
                    <p class="card-text">
                        <span class="text-muted">{{plot}}</span>                                
                    </p>
                    <ul>
                        {{#each cast}}
                        <li>
                            {{name}}
                        </li>
                        {{/each}}
                    </ul>
     

                    <a class="btn btn-primary" href="/movies/{{_id}}">
                        Details on {{title}}
                    </a>
                    <a class="btn btn-warning" href="/movie/{{_id}}/edit">
                        Edit
                    </a>
                </div>

            </div>   
            
        </div> 
        {{/each}}
    </div>
</div>


