<h1>Movie Details</h1>



<hr>
<h2>{{title}}</h2>

<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<p>Cast:</p>
<ul>
    {{#each cast}}
    <li>{{name}}</li>
    <br>
    <p>{{occupation}}</p>
    <p>'{{catchPhrase}}'</p>
    {{/each}}
</ul>

<hr>
{{!-- <a href="/movies/{{_id}}/edit" class="btn btn-warning">Edit</a> --}}

<form action="/movies/{{_id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>