<h2>Movie details</h2>

{{#with movie }}
  <strong>Title: {{title}}</strong>
  <p>Genre: {{genre}}</p>
  <p>Plot: {{plot}}</p>

  <p>Cast
    <ul>
      {{#each this.cast}}
      <li>Name: {{name}}<br>Occupation: {{occupation}}<br>Catch phrase:{{catchPhrase}}</li>
      {{/each}}
    </ul>
  </p>
{{/with}}