<h1>{{title}} </h1>

<p>{{genre}}</p>
<p>{{plot}}</p>
<h3>Cast</h3>
<ul>

  {{#each cast}}
    <li>Name: {{this.name}} Ocupation: {{this.occupation}} Catch Phrase: {{this.catchPhrase}}</li>
  {{/each}}

</ul>
 {{#if currentUser}}
<form action='/movies/{{_id}}/delete' method='POST'>
  <button type='submit'>
    DELETE
  </button>

</form>
  <form action='/movies/{{_id}}/edit' method='POST'>
  <button type='submit'>
    edit
 </button>

   {{else}}
        <a href='/auth/login'>Inicia Sesion para editar o borrar la pelicula</a>
        {{/if}}