<h1>Movie Details</h1>

<h2>{{movie.title}}</h2>
<p>{{movie.genre}}</p>
<p>{{movie.plot}}</p>

<h3>Cast: </h3>
{{#each movie.cast}}
    <p>Name: {{this.name}}</p>
    <p>Occupation: {{this.occupation}}</p>
    <p>Catch Phrase: {{this.catchPhrase}}</p>
{{/each}}

<form action="/movies/{{movie._id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>

<a href="/movies">Return</a>