<h2>Movie details</h2>
<h4>Title</h4>
<p>{{title}}</p>
<h4>Genre</h4>
<p>{{genre}}</p>
<h4>Plot</h4>
<p>{{plot}}</p>
<h4>Cast</h4>
{{#each cast}}
<h6>{{name}}</h6>
<ul>
  <li>{{occupation}}</li>
  <li>{{catchPhrase}}</li>
</ul>
{{/each}}
<a href="/movies/{{_id}}/edit">
  <button style="background: #3A94D5; color: white; padding: 5px; margin: 5px">Edit</button>
</a>
<form action="/movies/{{_id}}/delete" method="post">
  <button type="submit" style="background: #F74F4F; color: white; padding: 5px; margin: 5px">Delete</button>
</form>
<hr><a href="/">Return home</a><br />

