<h2>Movie Details</h2>



    <div>
        <p>{{title}}</p>
        <p>{{genre}}</p>
        <p>{{plot}}</p>
        <p>{{_id}}</p>
        <ul>
            {{#each cast}}
                <li>{{this.name}},{{this.ocuppation}},{{this.catchPhrase}}</li>
            {{/each}}
        </ul>

        <form action="/movies/{{_id}}/delete" method="POST">
        <button>Delete</button>
        </form>
        <form action="/movies/{{_id}}/edit" method="get">
        <button>Edit</button>
        </form>
    </div>
