<h2>List of movies!!</h2>
<div class="container">
    <div class="row justify-content-center">
        {{#each movies}}
        <div class="col-md-3">
            <h3>Titulo</h3>
            <a href="/movies/{{_id}}"><p>{{title}}</p></a>
            <hr>
            <h3>Genero</h3>
            <p>{{genre}}</p>
            <hr>
            <h3>Plot</h3>
            <p>{{plot}}</p>
            <hr>
            <h3>Cast</h3>
            <ul>
                {{#each cast}}
                  <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
</div>