<h1 class="page-title">Celebrity Details</h1>
<div class="model-info">
    <img src="{{image}}" alt="{{name}}" class="model-img">

    <div class="details">
        <p><span class="subtitle">Title: </span>{{title}}</p>
        <p><span class="subtitle">Genre: </span>{{genre}}</p>
        <p><span class="subtitle">Plot: </span>{{plot}}</p>
        <p><span class="subtitle">Celebrity: </span>{{celebrity.name}}</p>
    </div>
</div>
