<h2>Movie details</h2>
{{#with movie}}
  <h5>Title</h5>
  {{this.title}}
  <h5>Genre</h5>
  {{this.genre}}
  <h5>Plot</h5>
  {{this.plot}}
  <h5>Cast</h5>
  {{#each cast}}
    {{name}}
    {{occupation}}
    {{catchPhrase}}
  {{/each}}
  <form action="/movies/{{this.id}}/delete" method="post">
    <button type="submit">Delete movie</button>
  </form>
  {{!-- <form action="/movies/{{this.id}}/edit" method="post">
    <button type="submit">Edit movie</button>
  </form> --}}
  <a href="/movies/{{this.id}}/edit">edit movie</a>
{{/with}}