<h2>Movie details</h2>

<h3>Title :</h3>
<p>{{oneMovie.title}}</p>

<h3>Genre :</h3>
<p>{{oneMovie.genre}}</p>

<h3>Plot :</h3>
<p>{{oneMovie.plot}}</p>

<h3>Cast :</h3>

{{#each oneMovie.cast}}
  <h5>Name :</h5>
  <p>{{name}}</p>

  <h5>Occupation :</h5>
  <p>{{occupation}}</p>

  <h5>Catchphrase :</h5>
  <p>{{catchPhrase}}</p>
{{/each}}

<a href="{{oneMovie._id}}/edit">EDIT</a>

<form action="{{oneMovie._id}}/delete" method="POST">
  <button>DELETE</button>
</form>