<h2>{{title}}</h2>
<p>Genre: {{this.genre}}</p>
<p>Plot: {{this.plot}}</p>
<p>Cast:</p>
<ul>
{{#each cast}}
<li>{{this.name}}</li>
{{/each}}
</ul>
<form method="post" action="/movies/{{this._id}}/delete">
  <button class="btn">Delete</button>
</form>
<a href="/movies/{{this._id}}/edit">Edit movie</a>

