<h1>Movies Details List</h1>

<hr/>
<div>
  <p>
    Title: {{this.title}}
  </p>

  <p>
    Genre: {{this.genre}}
  </p>

  <p>
    Plot: {{this.plot}}
  </p>

  <div>
    <p>
      Cast:
      <ul>
        <li>* Name: {{this.cast.name}}</li>
        <li>* Occupation: {{this.cast.occupation}} </li>
        <li>* CatchPhrase: {{this.cast.catchPhrase}}</li>
      </ul>
   </p>
  </div>

  <a href="/movies/{{this._id}}/edit">Edit</a>


  <form action="/movies/{{this._id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</div>


<hr />

<a href="/movies">Back</a>