<h2>Movies details</h2>

{{#with movie}}
<h6>{{title}}</h6>
<p>{{genre}}</p>
<p>{{plot}}</p>
{{#each cast}}
<p>{{name}}</p>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
{{/each}}
<form action="/movies/{{_id}}/delete" method="post"><button type="submit">Delete</button></form>
<form action="/movies/{{_id}}/edit" method="get"><button type="submit">Edit</button></form>
{{/with}}

