<section>
    <h2>{{title}}</h2>

    <p>
        Genre: {{genre}}<br />
        Plot: {{plot}} <br />
        <h3>Cast:</h3>
        {{#each cast}}
            <p>
            Name: {{this.name}} <br />
            Occupation: {{this.occupation}} <br />
            Catchphrase: {{this.catchPhrase}}
            </p>
        {{/each}}

    </p>    

    

</section>
<a href="/movies/{{this._id}}/edit">Edit Movie</a> | <a href="/movies">Back</a>