<a href="/">Home</a><br><br>

<h2>Movie Details</h2>
<h5>Title: {{title}}</h5>
<h5>Genre: {{genre}}</h5>
<h5>Plot: {{plot}}</h5>
<h5>Cast</h5>
{{#each cast}}
    <p>Name:{{name}}</p>
    <p>Occupation: {{occupation}}</p>
    <p>Phrase: {{catchPhrase}}</p>
{{/each}}
<a href="/movies/{{_id}}/edit">Edit</a>
<form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>