<h2>{{movie.title}}</h2>

<h4>{{movie.genre}}</h4>

<p>{{movie.plot}}</p>

<ul>
    {{#each movie.cast}}
        <li>{{this.name}}</li>
        <li>{{this.occupation}}</li>
        <li>{{this.catchPhrase}}</li>
    {{/each}}
</ul>


<form action="/movies/{{movie.id}}/delete" method="POST">
    <button class="btn-delete" type="submit">delete</button>
</form>


