<div class="container">

    <h2>Movies</h2>

    {{#each movies}}

    <h5>{{title}}</h5>
    <a href="/movies/movies-details/{{_id}}" class="btn btn-outline-secondary mt-2">Ver detalles</a> 

    <form action="/movies/{{_id}}/delete" method="POST" class="mt-2">
        <input type="submit" value="Eliminar" class="btn btn-outline-secondary">
    </form>
    {{!-- <hr>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
   
   
   {{#each cast}}
     <p>{{name}}</p>
{{/each}} --}}

    
    {{/each}}




</div>