<h2>{{newMovie.title}}</h2> 
<p>{{newMovie.genre}}</p>
{{#each newMovie.cast}}
    <li>
        <ul>{{name}}</ul>
        <ul>{{occupation}}</ul>
        <ul>{{catchPhrase}}</ul>
    </li>
{{/each}}

<form action="/movies/{{newMovie._id}}/delete" method="POST">
  <button value="DELETE">DELETE</button>
</form>