<h2>{{title}} Movie Details}}</h2>

<hr>

<div class="=row"> 

    <p> Genre: {{genre}} </p>
    <p> Plot: {{plot}} </p>
</div>

<div class="col-md-4">
    <h3>Cast: </h3>

{{#each cast}}
{{name}}
{{occupation}}
"{{catchPhrase}}"
{{/each}}

</div>

<hr>

<div class="editing-btns">
<a href="/movies/{{id}}/edit" class"btn btn-sm btn-dark"> Editar</a>

<form action="/movies/{{_id}}/delete" method="POST">
    <button class="btn btn-sm btn-warning" type="submit">Remove</button>
    
</form>

<a href="/movies" class="btn btn-dark">Back to movies</a>
