<h2>Movie details</h2>

<h3>{{title}}</h3>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>

<h5><b>Cast Info</b></h5>
{{#each cast}}
	<p>Actor: {{this.name}}</p>
	<p>Occupation: {{this.occupation}}</p>
	<p>Catch Phrase: {{this.catchPhrase}}</p>
{{/each}}

<form action="/movies/{{_id}}/delete" method="post">
	<button type="submit"> DELETE MOVIE</button>
</form>