<h2>Movie's Details</h2>

<ul>

  
    <li>Title:   {{movie.title}}</li>
    <li>Genre:   {{movie.genre}}</li>
    <li>Plot:   {{movie.plot}}</li>
    <li>Cast:   {{movie.cast}}</li>
    <br><br>


</ul>
<form action="/delete/{{movie._id}}" method="POST"">
    <button >Delete</button>
</form><br><br>

<a href="/movies/{{movie._id}}/edit">Edit movie</a><br><br>

<a href="/">Back Home</a>