<h2>Detallitos tiki tiki</h2>
<ul>
    <li>{{title}}</li>
    <li>{{genre}}</li>
    <li>{{plot}}</li>
</ul>
{{#each cast}}
<ul>
    <li>{{name}}</li>
    <li>{{ocuppation}}</li>
    <li>{{catchPrase}}</li>
</ul>
{{/each}}
<form action="movies/movies/{{id}}/delete" method="post">
    <button>A tomar por culo</button>
</form>