<h2>Details of {{ foundMovie.title }}</h2>

<hr>
<p>Title: {{foundMovie.title}}</p>
<br>

<p>Genre: {{foundMovie.genre}}</p>
<br>
<p>Plot: {{foundMovie.plot}}</p>

<a href="/movies/{{foundMovie._id}}/edit"> Edit </a>

<br>

<a href="/movies">Back to movies</a>