<h2>Movie Details:</h2>

{{#with movie}}
  <h3>{{title}}</h3>
  <p>Genre: {{genre}}</p>
  <p>Plot: {{plot}}</p>
  <p>Cast:
    <ul>
      {{#each cast}}
        <li>{{this.name}} - {{this.occupation}} - "{{this.catchPhrase}}"</li>
      {{/each}}
    </ul>
  </p>
  <form action="/movies/{{this.id}}/delete" method="post">
    <button type="submit">Delete Movie!</button>
  </form>
{{/with}}
<a href="/movies/{{id}}/edit">Edit this movie</a>
<a href="/movies">Back to the movies</a>