    <h1>{{title}}</h1>
    <div>
        <p>genre: {{genre}}</p>
        <p>plot: {{plot}}</p>
        <p>cast:</p>
        <ul>
        {{#each cast}}
            <li>{{name}}</li>
        {{/each}}
        </ul>
    </div>

    <form action="/movies/{{_id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
    <a href="/movies/{{_id}}/edit">Edit</a>