<h2>Movie Details</h2>

<div>
        <p>Title: {{movie.title}}</p>
        <p>Genre: {{movie.genre}} </p>
        <p>Plot: {{movie.plot}} </p>
    Cast: 
    <ul>
    {{#each movie.cast}}
      <li>Name: {{this.name}}</li>
      <li>Occupation: {{this.occupation}}</li>
      <li>Catch Phrase: {{this.catchPhrase}}</li>
        <br>
    {{/each}}

    </ul>

    <a href="/movies/{{movie.id}}/edit">Edit movie</a>

    <form action="/movies/{{movie._id}}/delete" method="post">
      <button type="submit" class="btn btn-primary">Delete Movie</button>
    </form>



</div>