<div class="container mt-5">
  <h1>Movies</h1>
  <div class="row">
    {{#each movies as |movie|}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{movie.image}}" class="card-img-top" alt="{{movie.title}}">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.plot}}</p>
            <div class="d-flex justify-content-between">
              <a href="/movies/{{movie._id}}" class="btn btn-sm btn-outline-primary mr-2">See detail</a>
              <a href="/movies/{{movie._id}}/edit" class="btn btn-sm btn-outline-secondary mr-2">Edit movie</a>
             <form action="/movies/{{movie._id}}/delete" method="POST">

         <button type="submit" class="btn btn-danger">Delete Movie</button>
          </form>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>