<div class="container">

    <h2>Películas</h2>
    <hr>

    <div class="row justify-content-left">

        {{#each movie}}

        <div class="col-md-4">
            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{genre}}</p>
                    <div class="row">
                        <div class="col-4">
                            <a href="/movies/details/{{_id}}" class="btn btn-dark btn-sm">Detalles</a>
                        </div>
                        <div class="col-4">
                            <a href="/movies/edit/{{_id}}" class="btn btn-warning btn-sm">Editar</a>
                        </div>
                        <div class="col-4">
                            <form action="/movies/delete/{{_id}}" method="POST">
                                <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark">Inicio</a>

</div>