<h1>Movie Detail</h1>

  <h2>{{title}}</h2>
  <p>{{genre}}</p> 
  <p>{{plot}}</p>


<ul>
  Cast Info:
  {{#each cast}}
  
    <li>{{name}}</li>
    <li>{{occupation}}</li>
    <li>{{catchPhrase}}</li>
  {{/each}}

    </ul>

<form action="/movies/{{_id}}/delete" method="POST">
  <button type="submit">Delete Movie
  </button>
</form>
<form action="/movies/{{_id}}/edit" method="GET">
  <button type="submit">Edit Movie
  </button>
</form>

