<section class="movie-details">
  <h2>Movie Details</h2>

<div class="movie-details">
  <h2>{{movieId.title}}</h2>
  <p>
    <i>Genre:</i>
    '{{movieId.genre}}'<br />
     <i>Plot:</i>
    '{{movieId.plot}}'<br />
     <i>Cast:</i><br/>
    {{#each movieId.cast}}
    Name - '{{this.name}}'<br/>
    Occupation - '{{this.occupation}}' <br/>
    Catch Phrase - '{{this.catchPhrase}}' <br/>
    {{/each}}
    
 <p>
        <form action="/movies/{{movieId._id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>
</div>

<a href="/movies/movies">Back</a> 
<a href="/movies/{{movieId._id}}/edit">Edit Movie</a></section>