<h2>Movie detail</h2>

<div>
    <table class="table">
     <tr>
      <th scope="row">Title</th>
      <td>{{movie.title}}</td>
    </tr>
    <tr>
      <th scope="row">Genre</th>
      <td>{{movie.genre}}</td>
    </tr>
    <tr>
      <th scope="row">Plot</th>
      <td colspan="2">{{movie.plot}}</td>
    </tr>
     <tr>
      <th scope="row">Movie cast</th>
      <td colspan="2">{{#each movie.cast as |celebrity|}}
                <span>{{celebrity.name}}</span> | <span>{{celebrity.occupation}}</span> | <span>"{{celebrity.catchPhrase}}"</span>
            {{/each}}</td>
    </tr>
  </tbody>
</table>
    
    <div class="row">
        <form action="/movies/{{movie._id}}/delete" method="POST">
          <button class="btn-edit-delete"  type="submit">Delete</button>
        </form>
        </form>
        <a href="/movies/{{movie._id}}/edit" class="btn-edit-delete">Edit info</a>
    </div>
