
    <h4>{{title}}</h4><br><br><br>
    <span>{{genre}}</span> <br><br>
    <span>{{plot}}</span> <br><br>
    <b><span>{{cast}}</span></b>
<br><br><br>


<br>
<form action="/movies/{{_id}}/delete" method="POST">
      <button>Delete</button>
</form>
<a href="/movies/edit-movie/{{id}}"><button>Edit</button></a><br>
<a href="/"><button>Home</button></a>

