<h2>{{movie.title}}</h2>
<div>
  <p>Genre: {{movie.genre}}</p>
  <p>Plot: {{movie.plot}}</p>
  <div>
    <h4>Cast</h4>
    {{#each movie.cast as |celebrity|}}
      <p>{{celebrity.name}}</p>
      <ul>
        <li>Occupation: {{celebrity.occupation}}</li>
        <li>Catch Phrase: {{celebrity.catchPhrase}}</li>
      </ul>
    {{/each}}
  </div>
  <form action="/movies/{{movie._id}}/edit" method="GET">
    <button type="submit">Edit movie</button>
  </form>
  <form action="/movies/{{movie._id}}/delete" method="POST">
    <button type="submit">Delete movie</button>
  </form>
</div>