{{#each movies}}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{genre}}</p>
        <p class="card-text">{{plot}}</p>
        <p>
            {{#each cast}}
            <span>{{name}}</span>
            {{/each}}
        </p>
        <a href="/movies/{{_id}}" class="card-link">Detalles</a>
        {{!-- <a href="#" class="card-link">Another link</a> --}}
    </div>
</div>


{{/each}}

<a href="/" class="btn btn-secondary btn-lg">Ir al inicio</a>
<a href="/movies/create" class="btn btn-secondary btn-lg">Crear más</a>