<h2>{{oneMovie.title}}</h2>
<hr>

<h3>Genre: {{oneMovie.genre}}</h3>
<h3>Plot: {{oneMovie.plot}}</h3>
<hr>
<h3>Cast: </h3>
    {{#each oneMovie.cast}}
    <hr>
      <h4>Name:{{this.name}}</h4>
      <h4>Occupation:{{this.occupation}}</h4>
      <h4>Catch Phrase:{{this.catchPhrase}}</h4>
    {{/each}}

 <form method="POST" action="/movies/{{oneMovie._id}}/delete">
  <button type="submit">Delete</button></form> 