<h2>Movie Details</h2>
<p>{{movie.title}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.plot}}</p>
{{#each movie}}
<p>{{celebrity.name}}</p>
<p>{{celebrity.occupation}}</p>
<p>{{celebrity.catchPhrase}}</p>

{{/each}}
<a href="/">Go back</a>