<h2>Movie Details</h2>

<h6>Title: {{title}}</h6>
<h6>Genre: {{genre}}</h6>
<h6>Plot: {{plot}}</h6>

{{#each cast}}
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<hr>
{{/each}}