<div class="container ">
  {{#each movie}}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">Genre : {{genre}}</p>
      <p class="card-text">Plot : {{plot}}</p>
      <p class="card-text">Cast : {{cast}}</p>
      <a href="/movies/{{_id}}" class="btn btn-secondary">See more</a>
      <form action="/movies/{{_id}}/delete" method="POST">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </div>
  </div>
  {{/each}}
</div>