
<h2>Detalles de {{title}}</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="row ">
            <div class="col-md">
            <h3>Titulo: </h3><p>{{title}}</p>
            <h3>Genero: </h3><p>{{genre}}</p>
            <h3>Trama: </h3><p>{{plot}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Cast de la pelicula</h3>
        {{#each cast}}
        <ul>
            <li>Nombre: {{name}}</li>
            <li>Trabajo: {{occupation}}</li> 
            <li>Frase tipica: ({{catchPhrase}})</li>
        </ul>
        <hr>
        {{/each}}
    </div>

</div>

<hr>

<form action='/movies/details/{{id}}/delete' method="post">

    <button type="submit" class="btn btn-danger">Borrar pelicula</button>

</form>
<hr>

<a href="/movies/details/{{id}}/edit" class="btn btn-warning">Editar</a>
<a href="/movies" class="btn btn-dark">Volver a las peliculas</a>