<section class="movie-details">
    <h2>{{title}}</h2>
    <p>
        <strong>Genre: </strong> {{genre}} <br />
    </p>
    <p>
        <strong>Plot:</strong>
        {{plot}}
    </p>
    <p>
        <strong>Cast:</strong> <br />
        {{#each celebrities}}
        {{celebrities.name}} <br />
        {{celebrities.occupation}} <br />
        {{celebrities.catchPhrase}} <br />
        {{/each}}
    </p>

</section>

<p>
    <a href="/movies/{{id}}/edit">Edit</a>
</p>


<p>
<form action="/movies/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>
</p>

<a href="/movies">Back</a>