<div class="container">
  <h2>Movie Details</h2>
  <div class="movie-container">
    {{#each movieDetails}}
    <h3>{{title}}</h3>
    <p>{{genre}}</p>
    <p>{{plot}}</p>
    {{/each}}
  </div>
  <div class="cast">
    {{#each celebrityDetails}}
  
  {{!-- //how do you list only the correct actor getting it from the id listed on cast  --}}
    
      <p>{{name}}</p>
      <p>{{occupation}}</p>
      <p>{{catchPhrase}}</p>
    {{/each}}
    <div class="row">
      <div class="col-2">
        <a href="/movies/{{id}}/edit" class="btn btn-dark" > Edit   </a>
      </div>
      
      <div class="col-3">
      <form action="/movies/{{id}}/delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      </div>
      <div class="col-4">
       <a href="/movies" class="btn btn-dark">Go back</a>
      </div>
    </div>

  </div>
</div>