
<h1><b>{{title}}</b></h1>
<p>{{genre}}</p>
<p><b>Plot:</b>{{plot}}</p>
<h4><b>Cast:</b></h4>
{{#each movie.cast}}
    <h5>{{this.name}}</h5>
    <p>Occupation: {{this.occupation}}</p>
    <p>Catch phrase: {{this.catchPhrase}}</p>
{{/each}}
