<h2>all about your favorite movie </h2>

<h4>{{movie.title}} </h4>

<h6> {{movie.genre}}</h6>
<h6> {{movie.plot}}</h6>

<h4>Cast</h4>

<ul>
{{#each movie.cast}}
<li>
    {{this.name}} — {{this.occupation}} — {{this.catchphrase}}
</li>

{{/each}}

</ul>

<form action="/movies/{{movie.id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/movies/{{movie._id}}/edit"> <button>EDIT</button></a>