<h2>Movies</h2>
{{#each movie}}
<div>
    <h3>{{title}}</h3>
    <p>genre: {{genre}}</p>
    <p>plot: {{plot}}</p>
    <p>cast: {{this.celebrity.name}}</p>
    <a href="/movies/{{_id}}">Look the movie details</a>
</div>
{{/each}}
