<div class='main__container--movies-create'>
  <div class='main__container--movies--create-header'>
    <h1>Movie Details</h1>
  </div>

  <div class='main__container--movies-details'>
    <label>Title:</label>
    <div>{{movie.title}}</div>

    <label>Genre:</label>
    <div>{{movie.genre}}</div>

    <label>Plot:</label>
    <div>{{movie.plot}}</div>

    <label>Cast:</label>
    <div>
      <ul>
        {{#each movie.cast}}
          <li><a href='/celebrities/{{this._id}}'>{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>

    <label>Top Celebrity:</label>
    <div>
      <a href='/celebrities/{{this._id}}'>{{movie.celebrity.name}}</a>
    </div>

    <button
      type='button'
      onclick="document.location.href = '/movies/create/{{movie._id}}'"
    >Edit</button>
    <button
      type='button'
      onclick="if(confirm('Are you sure you want to delete?')) document.location.href = '/movies/delete/{{movie._id}}'"
    >Delete</button>
    <button type='button' onclick="document.location.href = '/movies'">Go Back</button>
  </div>
</div>