<h1>Movie Details</h1>
<p>Title:{{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
{{#each cast}}
  <p>Cast: {{cast}}</p>
{{/each}}

<form action="/movies/{{_id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>

 <a href="/movies/{{_id}}/edit">Edit Movie</a>




