<div class="celebrities">
    <h2 class="celebrities-title">List of movies</h2>
    <hr>

    {{#each movie }}

    <a href="/celebrities">
        <div class="movies-list">
            <h3>Title {{title}} </h3>
            <h4>Genr {{genre}}</h4>
            <h5>Trama <br>{{plot}} </h5>
        </div>
    </a>
    <hr>

    <a href="/movies/{{id}}" class="btn btn-show btn-sm">Show movie details</a>
    <a href="/movies/{{id}}/edit" class="btn-secondary btn-sm">Edit movie</a>
    <a href="/" class="btn btn-dark btn-sm">Return to home</a>
    {{/each}}

</div>