<h2>{{movie.title}}</h2>
<h5>Genre: {{movie.genre}}</h5>
<h5>Plot: {{movie.plot}}</h5>

{{#each movie.cast}}
  <div>
    <h3>Cast: {{this.name}}</h3>
    <h5>Occupation: {{this.occupation}}</h5>
    <h5>Catch phrase: {{this.catchPhrase}}</h5>
  </div>
{{/each}}

<form action="/movies/{{movie._id}}/delete" method="post">
  <button type="submit">Delete movie</button>
</form>

<a href="/">Home</a>