<h2>Movie's Details</h2>

<ul>

  
    <li>Title:   {{movie.title}}</li>
    <li>Genre:   {{movie.genre}}</li>
    <li>Plot:   {{movie.plot}}</li>
    <li>Cast:   {{#each cast}}{{cast.value}} {{/each}}</li>
    <br><br>


</ul>
<form action="/movies/{{_id}}/delete" method="post">
    <button type="submit">Delete "{{movie.title}}"" movie</button>
</form><br><br>

  <a href="/movies/{{_id}}/edit">Edit</a>

<a href="/">Back Home</a>