<h2>Movie Details</h2>

<p>{{movie.title}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.plot}}</p>
<ul>
    {{#each movie.cast}}
        <li>{{this.name}}</li>
        <li>{{this.occupation}}</li>
        <li>{{this.catchPhrase}}</li>
    {{/each}}
</ul>

<a class="btn btn-primary" href="/movies/{{movie._id}}/edit">Edit {{movie.title}}</a>

<a class="btn btn-dark" href="/movies">Back to movies</a>
<a class="btn btn-dark" href="/">Home</a>

<form action="/movies/{{movie._id}}/delete" method="POST" class="mt-4">
    <button class="btn btn-danger btn-sm" type="submit">Delete movie</button>
</form>