<h1>{{title}}</h1>

<p>Genre: {{genre}}</p>

<p>Plot: {{plot}}</p>

{{#each cast}}

<h1>{{name}}</h1>

<p>Acts as a: {{occupation}}</p>

<p>Catch Phrase: {{catchPhrase}}</p>

{{/each}}

<a href="/movies">Go back</a>