<div class="container">
    <a href="/" class="btn btn-light">Volver atrás</a>
    <div class="row">
        <h2 class="col-4">Lista de películas</h2>
        <a href="./movies-create" class="btn btn-light mb-2 col-2">Agregar película</a>
    </div>
    <div class="row">
        {{#each movies}}
        <div class="col-3">
            <div class="card mb-2 bg-light flex-fill">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p>Género: {{genre}}</p>
                    <p>Plot: {{plot}}</p>
                    <a href="/movies/{{id}}" class="btn btn-dark btn-sm mb-2">Ver detalles</a>
                    <form action="/movies/{{id}}/delete" method="POST">
                        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>