<h1>{{title}}</h1>

<p>
  Genre:
  {{genre}}
  <br />
  Plot:
  {{plot}}
  <br />
  Cast:
  <ul>
    {{#each cast}}
      <li>{{this.name}}
        <br />
        {{this.occupation}}
        <br />
        {{this.catchPhrase}}
        <br />
      </li>
    {{/each}}
  </ul>
  <a href="/">Home</a>
</p>