<h1>Movie Details</h1>

<h2>{{title}}</h2>
<h3>{{genre}}</h3>
<ul>
    {{#each cast}}
    <li>{{name}} says {{catchPhrase}} and there occupation is {{occupation}}</li>
    {{/each}}
</ul>
<p>{{plot}}</p>

