
<h2><strong>Movie details</strong></h2>

<h3>Title: {{this.title}}</h3>
<h3>Genre: {{this.genre}}</h3>
<h3>Plot: {{this.plot}}</h3>
<h3>Cast: </h3>

{{#each this.cast}}
    <p>{{this.name}}</p>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
{{/each}}


<div id="container-btns">

    <form action="/movies/{{this._id}}/delete" method="post">
        <button>Delete the movie</button>
    </form>

    <form action="/movies/{{this._id}}/edit" method="post">
        <button>Edit the movie</button>
    </form>
</div>