<h2>Movie Details</h2>

<p>{{title}}</p>
<p>{{genre}}</p>
<p>{{plot}}</p>
{{#each this.cast}}
 <h3>{{this.name}}</h3>
 <h3>{{this.occupation}}</h3>
 <h3>{{this.catchPhrase}}</h3>

{{/each}}
<form action="/movies/{{_id}}/delete" method="post">
       <button>Delete</button>
 </form>
<a href="/movies/{{_id}}/edit">Edit</a>
       
