<h2>Editing: {{title}}</h2>
<form action="/movies/{{_id}}/edit" method="POST">
  <label for="">Title:
    <input type="text" name="title" value="{{title}}" />
  </label>
  <br />
  <label for="">Genre:
    <input type="text" name="genre" value="{{genre}}" />
  </label>
  <br />
  <label for="">Plot:
    <input type="text" name="plot" value="{{plot}}" />
  </label>
  <br />
  <label for="">Cast:
    <select type="text" name="cast" multiple>
      {{#each cast}}
        <option value="{{_id}}">
          {{name}}
        </option>
      {{/each}}
    </select>
  </label>
  <br />
  <button type="submit"> Save Changes</button>
  <br />
</form>