
<h2>{{movie.title}}</h2>

<p>Movie details</p>

      <p>
        {{movie.genre}}
      <br>
        {{movie.plot}}
      <br>
      <ul>
      {{#each movie.cast}}
        <li><option value='{{_id}}'>{{name}}</option></li>
        <li><option value='{{_id}}'>{{occupation}}</option></li>
        <li><option value='{{_id}}'>{{catchPhrase}}</option></li>
      {{/each}}
      </ul>
      
      </p>

<form action='/movies/:id/delete' method='post'>
  <button>Delete {{movie.title}}</button>
</form>

