<h2>Movie Details</h2>
<p>{{title}}</p>
<p>{{genre}}</p>
<p>{{plot}}</p>
{{#each cast}}
    <p>{{name}}</p>
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
{{/each}}
<a href="/movies/{{_id}}/edit">Edit</a>
<form action="/movies/{{_id}}/delete" method="post">
    <input class="btn btn-danger" type="submit" value="Delete">
</form>