<div class="container mt-5">
    <h2>{{title}}</h2>
    <p>
        <strong>Genre: </strong> {{genre}} <br />
    </p>
    <p>
        <strong>Plot:</strong>
        <p>{{plot}}</p>
    </p>
    <p>
        <strong>Cast:</strong>
    <p>
        {{#each cast}}
        {{this.name}}
        {{/each}}
    </p>
    </p>
</div>
<div class="btn-toolbar">
    <a class="btn btn-primary m-2" href="/movies/{{id}}/edit" role="button">Edit</a>
    <form action="/movies/{{id}}/delete" method="POST">
        <button type="submit" class="btn btn-primary m-2">Delete</button>
    </form>
    <a class="btn btn-primary m-2" href="/movies" role="button">Back</a>
</div>