<<<<<<< HEAD
<br>
=======
<a href="/">Back to Home Page</a>
<br />
>>>>>>> 663f5e5cae453ba8c7ff38da27dabe2b0fb51215
<h2>Details for {{title}}</h2>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>

<h3>Cast</h3>
{{#each cast}}
  <p>-> The {{occupation}} {{name}} used to say "{{catchPhrase}}"</p>
{{/each}}

<br />

<form action="/movies/{{_id}}/delete" method="POST">
  <button>Delete the Movie</button>
</form>
<br />
<a href="/movies/{{_id}}/edit">Edit the Movie</a>