<div class="container">
    <h1 class="text-center display-3">Detalles de "{{title}}"</h1>
    <div class="row justify-content-center">
        <div class="card d-flex flex-row justify-content-around p-3" style="width:70%" id="detail-card">

            <img class="card-img-top d-block" style="width:30%"
                src="http://www.yelmcinemas.com/template_1/img/default-movie-portrait.jpg" alt="Card image cap">
            <div class="ml-5">
                <a href="/movies">Go back</a>
                <p class="card-title "><strong>Título: </strong>{{title}}</p>
                <p class="card-text "><strong>Género: </strong>{{genre}}</p>
                <p class="card-text "><strong>Argumento: </strong>{{plot}}</p>
                <p class="card-title "><strong>Reparto</strong></p>
                <hr>
                <ul>
                    {{#each cast}}
                    <li><strong>Nombre: </strong>{{name}} <strong>Ocupación: </strong>{{occupation}} <strong>Lema:
                        </strong>{{catchPhrase}}</li>
                    {{/each}}
                </ul>
                <hr>
                <div class="d-flex">
                    <form action="/movies/{{_id}}/delete" method="POST">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                    <a href="/movies/{{_id}}/edit" class="btn btn-dark">Editar</a>

                </div>
            </div>
        </div>
    </div>
</div>