
<div class ="container">
    <div class ="row">
        <div class="col-8">
            <h2>Movies</h2>
            <br>
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">genre</th>
                <th scope="col">plot</th>
                </tr>
            </thead>
            <tbody>
                {{#each movies}}
                    <tr>
                    <th scope="row">{{@index}}</th>
                    <td>
                        <a href="/movies/{{_id}}">
                            {{title}}
                        </a>
                    </td>
                    <td>
                        {{genre}}
                    </td>
                    <td>
                        {{plot}}
                    </td>
                    </tr>
                {{/each}}
            </tbody>
            </table>

            <a type="button" class="btn btn-outline-success" href="/drones/create">Add Movie</a>

        </div>
    </div>
</div>

