<h2>{{title}}</h2>
<p>{{genre}}</p>
<p>{{plot}}</p>
<div>
    {{#each cast}}
    <h3>- {{this.name}}</h3>
    <p>-- {{this.occupation}}</p>
    <p>-- {{this.catchPhrase}}</p>
    {{/each}}
</div>

<form method="GET" action="/movies/{{_id}}/edit">
<button type="submit">EDIT</button>
</form>

<form method="POST" action="/movies/{{_id}}/delete">
<button type="submit">REMOVE</button>
</form>