<section>
    <h2>Movie Detail</h2>

    <h3>Title: {{this.title}}</h3>
    <p>
        Genre: {{this.genre}} <br>
        Plot: {{this.plot}} <br>
        Cast: 
        {{#each this.cast}}
            <li>Name: {{this.name}}</li> 
            <li>Occupation: {{this.occupation}}</li> 
            <li>CatchPhrase: {{this.catchPhrase}}</li> <br> 
        {{/each}}
    </p>

    <p>
    <form action="/movies/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    <a href="/movies/{{_id}}/edit">Edit</a>
    </p>

</section>

<a href="/movies">Back</a>