<h2>Movie details</h2>

<p>{{title}}</p>
<p>{{genre}}</p>
<p>{{plot}}</p>

{{#each cast}}
<p>{{name}}</p>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
{{/each}}

<a href="/movies">Volver al listado</a>