<h1>Movie Details</h1>
<div>
	{{Title}}
	{{Genre}}
	{{Plot}}
	{{Cast}}
	<form action='/movies/{{_id}}/delete' method='POST'>
		<button style='color: white; background-color:red; border:none; padding:1rem;'>Delete</button></form>

	<a href='/movies/{{_id}}/edit'>Edit</a>
</div>
