<div class="container d-flex justify-content-center flex-column align-items-center">

    <h2 class="text-center mt-4">"{{name}}" details:</h2>

    <div class="card mt-5" style="width: 18rem;">
        <div class="card-header">
            {{name}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{genre}}</li>
            <li class="list-group-item">{{plot}}</li>
            <li class="list-group-item">{{cast}}</li>
        </ul>
    </div>


</div>