




{{!-- {{METEMOS EL CAST}} --}}


<div class="card mt-5" style="width: 18rem;">
  <div class="card-header">

<h6><p>TITLE:</p></h6>
<h3>{{movie.title}}</h3>
<h6><p>PLOT:</p></h6>
<h3>{{movie.plot}}</h3>


<h6><p>GENRE:</p></h6>
<h3>{{movie.genre}}</h3></h3>

  </div>
  <ul class="list-group list-group-flush">
      {{#each movie.cast as |casting|}}

    <li class="list-group-item">Actor:
    {{casting.name}}
    <br /></li>
    <li class="list-group-item"> Occupation:
    {{casting.occupation}}
    <br /></li>
    <li class="list-group-item">Catch Phrase:
    {{casting.catchPhrase}}
    <br /></li>
    {{/each}}
  </ul>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

<div class="btn-group mt-2" role="group" aria-label="First group">
<form action="/movies/{{movie.id}}/delete" method="POST">
<button class="btn btn-danger mt-3" type="submit">Delete This Movie</button></form>
</div>


<a class="btn btn-warning ml-5 mt-4" href="/movies/{{movie.id}}/edit">EDIT</a> 
</div>
</div>