<h2>Add movie</h2>


{{!-- the action portion of the form is what determines the route that you will be calling when you submit the form --}}
<form action="/movies/create" method="post">
 {{!-- the method of the form is what determines the request type that is being made (get/post) --}}


    <label for="celebInput">
      Title:
        <input id="celebInput"  name="title">
    </label>
    
    <label>
      Genre: 
        <input type="text" name="genre">
    </label>

    <label>
      Plot:   
        <input type="text" name="plot">
    </label>



 <label for="cast">
        Cast 

 <select name ="cast"  multiple>
  
 {{#each cast}}
  
 <option  value="{{this._id}}">{{name}}</option>    
  
 {{/each}}
   
 </select>
 </label>

<h3>CATS</h3>

{{!-- 
 <label for="cast-select"> Created by:
    <select name="cast" multiple>
      <option disable option value=""></option>
      {{#each celebs}}
        <option value="{{this._id}}"> {{name}} </option>
      {{/each}}
    </select>
  </label> --}}

   {{!-- 
    {{#each movies}}
 
  
 <p>{{movies}} </p>   

  
 {{/each}} --}}


    <br>
    <button>Create</button>
    {{!-- buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top --}}
</form>

