<h2 class="mt-3 mb-3">CREATE MOVIE</h2>

<form action="/movies/create" method="POST">
    <div class="input-group mb-2">
        <input type="text" name="title" value="{{movie.title}}" class="form-control {{#if errors.title }}is-invalid{{/if}}" placeholder="Movie title...">
        {{#if errors.title }}<div class="invalid-feedback">{{ errors.title }}</div>{{/if}}
    </div>

    <div class="input-group mb-2">
        <input type="text" name="genre" value="{{movie.genre}}" class="form-control {{#if errors.genre }}is-invalid{{/if}}" placeholder="Movie genre...">
        {{#if errors.genre }}<div class="invalid-feedback">{{ errors.genre }}</div>{{/if}}
    </div>

    <div class="mb-1 {{#if celebrity.catchPhrase }}is-invalid{{/if}}">
        <textarea name="plot" class="{{#if errors.plot }}is-invalid{{/if}}"></textarea>
        {{#if errors.plot }}<div class="invalid-feedback">{{errors.plot}}</div>{{/if}}
    </div>

    <div class="input-group mb-2">
        <select name="cast" id="cast">
            {{#each celebrities as |celebrity|}}
            <option value="{{celebrity.name}}">{{celebrity.name}}</option>
            {{/each}}
        </select>
        {{#if errors.cast }}<div class="invalid-feedback">{{ errors.cast }}</div>{{/if}}
    </div>
  
  <div class="form-actions mt-2">
    <button type="submit" class="btn btn-outline-primary">Create movie</button>
  </div>
</form>