<h2>New Movie</h2>

<form  method="POST">
  <div class="mb-3">
    <label class="form-label" >Title</label>
    <input class="form-control" type="title" name="title">
    <br>
    <label class="form-label" >Genre</label>
    <input class="form-control" type="genre" name="genre">
    <br>
    <label class="form-label" >Plot</label>
    <input class="form-control" type="plot" name="plot">
    <br>

    <label for="cast">Cast:</label>
    <select name ="cast" multiple>
      {{#each celebrities}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    
{{!-- 
    {{#each celebrities}}
    <label for="cast">Cast:</label>
        <select name="cast" id="{{this._id}}" multiple>        
            <option value="{{this._id}}">{{this.name}}</option>
        </select>
    {{/each}}
 --}}

    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>