<h1> Titulo: {{dataM.title}}</h1>

<p>Genero: {{dataM.genre}}</p>

<p>Plot: {{dataM.plot}}</p>

<p>Cast: {{dataM.cast}}</p>
<a href ="/movies/{{dataM._id}}/edit">Edit</a>

<hr />
<a href="/movies">Regresar a movies</a>