<h1>{{dataM.title}}</h1>

<p>Escrito por: {{dataM.genre}}</p>

<p>{{dataM.plot}}</p>

<p>Rating: {{dataM.rating}}</p>
<a href ="/movies/{{dataM._id}}/edit">Edit</a>

<hr />
<a href="/movies">Regresar a movies</a>