<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button> <span class="name mt-3">{{currentUser.username}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"> <span class="idd1">{{currentUser.email}}</span> </div>
        </div>
    </div>
</div>

<div class="container">
    {{#if movies}}
    <div class="d-flex justify-content-between align-items-baseline my-5">
        <h1>Todas mis películas</h1><a class="btn btn-primary" href="/movies/create">New Movie</a>
    </div>
    <div>
        {{#each movies}}
        <div class="col-6 mb-5">
            <div class="card h-100 mb-3">
                <div class="row h-100 g-0">
                    <div class="col-md-4">
                        <img src="{{image}}" class="img-fluid rounded-start img-movie" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{title}}
                                </h5>
                                <div class="buttons">
                                    <a href="/movies/{{_id}}/edit" class="btn btn-outline-info me-md-2" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg></a>
                                    <button data-bs-toggle="modal" data-bs-target="#delete{{_id}}" class="btn btn-outline-danger" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg></button>
                                </div>
                            </div>

                            <p class="card-text">Genero: {{genre}}</p>
                            <p class="card-text">Plot: {{plot}}</p>
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne{{_id}}">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{_id}}" aria-expanded="true" aria-controls="collapseOne{{_id}}">
                                            Cast
                                        </button>
                                    </h2>
                                    <div id="collapseOne{{_id}}" class="accordion-collapse collapse show" aria-labelledby="headingOne{{_id}}" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ol>
                                                <li>{{cast/name}}</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">Ultima actualizacion {{formatDate updated}}</small></p>

                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="delete{{_id}}" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Movie {{name}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to remove the movie?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    <form action="/movies/{{_id}}/delete" method="post">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="d-flex justify-content-between align-items-baseline my-5">
        <h1>No se encontraron peliculas</h1><a class="btn btn-primary" href="/movies/create">New Movie</a>
    </div>
    {{/if}}
</div>