<div class="container">
    <h1>Edit a Movie</h1>
    <hr>

    <form action="/movies/{{id}}/edit" method="post">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" name="title" id="name" value="{{title}}">
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" name="genre" id="genre" value="{{genre}}">
        </div>
        <div class="form-group">
            <label for="plot">Plot</label>
            <input type="text" class="form-control" name="plot" id="plot" value="{{plot}}">
        </div>
        <label for="sel">Cast</label>
        <div class="input-group-prepend mb-3">
            <select multiple class="form-control" id="sel" name="cast">
                {{#each cast}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-dark">Submit</button>
        <a href="/" class="btn btn-primary btn-dark">Back to homepage</a>
        <form action="/movies/{{_id}}/delete" method="POST">
            <input type="submit" value="Delete" class="btn  btn-secondary btn-light">
        </form>
    </form>

</div>